.accordion-module {clear: both; width: 100%; padding: 49px 0;}
.accordion {margin: 10px 0;}
.accordion-item{position: relative; background: var(--light-blue);}

.accordion-item .heading{font-size: 1.125rem; font-weight: 600; padding:21px 70px 24px 70px; display: block; color:#25282a; text-decoration: none;}
.accordion-item .heading:after{content: ""; display:inline-block; width:35px; height:35px; background:linear-gradient(#fff 0 0),
    linear-gradient(#fff 0 0), var(--text-violetblue); background-position:center; background-size: 14px 2px,2px 14px; /*thickness = 2px, length = 50% (25px)*/  background-repeat:no-repeat; border-radius:50%; position: absolute; left:19px; top: 19px;}
.accordion-item.active .heading:after {background-size: 14px 2px;}
.content{display: none; padding:1px 70px 32px 70px;}


/*-- media starts here --*/
@media only screen and (max-width: 1299px) and (min-width:1024px){
	
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
	.accordion-module-wrap {padding: 69px 0 70px; flex-direction: column-reverse;}
	
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .accordion-module{padding: 0 0 30px;}
    .accordion-item .heading {padding: 21px 32px 24px 70px;}
    .content { padding:1px 33px 31px 70px; margin: -9px 0 0 0;}
}