.annual-report-module{background-color: var(--green); overflow: hidden;}
.annual-report-module .container-lg{padding: 0;}
.annual-report-main{color: var(--white); position: relative;}
.annual-report-text .h1{margin-bottom: 25px; font-weight: 700;}
.annual-report-text p{max-width: 424px;}
.annual-report-text .optional-text {color: var(--white-50);}

.h1 span{color: var(--orange); font-family: CCSignLanguage; font-size: 5.375rem; line-height: 5.125rem; transform: rotate(-3.56deg); display: block; margin-top: -27px; font-weight: 500;}
.annual-report-ellipse{mask: linear-gradient(to right, #fff, #fff);}
.annual-report-thumb img {height: 100%; object-fit: contain;}
.annual-report-icon{position: absolute; z-index: 1; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; left: -125px;} 

/*-- media css starts here --*/
@media only screen and (min-width: 1300px) {
    .annual-report-main{padding-left: 9.7%; min-height: 546px;}
    .annual-report-text{width: 540px; padding: 30px 0;}
    .annual-report-image{right: 0; top: -227px; width: 837px;}
    .annual-report-thumb img {height: 100%; object-fit: contain; width: 837px;}

}
@media only screen and (min-width: 1024px) {
    .annual-report-image{position: absolute;}
    .annual-report-ellipse{width: 1000px; height: 1000px; border-radius: 50%;}
    .annual-report-thumb img {height: 100%; object-fit: contain; width: 837px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .annual-report-text{width: 365px; padding: 30px 0 30px 20px;}
    .annual-report-image{right: 0; top: -227px; width: 585px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .annual-report-main{flex-direction: column-reverse;}
    .annual-report-image{width: 100%; margin-bottom: 80px; position: relative;}
    .annual-report-text{width: 100%; padding: 0 20px 80px; display: block;}
    .annual-report-ellipse{width: 100%; height: 100%; border-radius: 0 0 50% 50%;}
    .annual-report-icon{left: 0; right: 0; bottom: -130px; top: auto; width: 100%;}
    .annual-report-icon svg{display: block; margin: 0 auto; transform: rotate(-90deg);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .annual-report-main{flex-direction: column-reverse;}
    .annual-report-image{width: 100%; margin-bottom: 80px; position: relative;}
    .annual-report-text{width: 100%; padding: 0 20px 65px; display: block;}
    .annual-report-ellipse{width: 100%; height: 100%; border-radius: 0 0 50% 50%;}
    /* .common-cta-ellipse {
        width: 800px;
        height: 800px;
        border-radius: 50% 50% 40% 40%;
        mask: linear-gradient(to right, #fff, #fff);
        position: absolute;
        bottom: -250px;
        left: 50%;
        transform: translateX(-50%);
    } */
    .annual-report-icon{left: 0; right: 0; bottom: -86px; top: auto; width: 100%;}
    .annual-report-icon svg{display: block; margin: 0 auto; transform: rotate(-90deg); width: 195px; height: auto;}
    .h1 span{font-size: 4.125rem;}
}