.build-future-main{padding:100px 0 94px; border-bottom: 3px solid var(--hr);}
.build-future-title span{margin-bottom: 19px;}
.build-future-title h2{font-weight: normal; max-width: 654px; }
.build-future-desc{line-height:1.563rem;}
.build-future-desc p{margin-bottom: 32px;} 
.build-future-row{gap: 45px;}
.build-future-list{color: #1a1919;}
.build-future-number{margin-bottom: 20px; font-weight: 700; display: inline-block; color: var(--anchor); font-size: 3.25rem; letter-spacing: -0.87px; position: relative;}
.build-future-number::after {display: block; content: ""; width: 100%; height: 3px; background-color: var(--anchor); position: absolute; bottom: -3px; left: 0;}


  /*-- media starts here --*/
  @media only screen and (min-width: 1024px){
    .build-future-head{gap: 50px; margin: 0 0 51px 0;}
    .build-future-title{flex: 0 0 660px;}
    .build-future-desc{flex: calc(100% - 710px);} 
    .build-future-list{flex: calc(25% - 35px);}

  }

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.build-future-title h2 {padding-right: 14px; font-weight: 300;}
	.build-future-head {padding: 0 75px 0 0;}
	.build-future-desc p {margin-bottom: 25px;}
	.build-future-list {width: 40%; display: inline-block;}
	.build-future-row {gap: 36px; padding: 51px 0 0 0; justify-content: space-between}
	.build-future-main {padding: 76px 0 72px;}
}

@media screen and (max-width: 767px) and (min-width:200px) {
	.build-future-main {padding:28px 0 68px;}
	.build-future-title h2 {font-weight: 300; margin-bottom: 20px;}
	.build-future-desc p {margin-bottom: 20px;}
	.build-future-title span {margin-bottom: 17px;}
	
	.build-future-row {gap: 22px; margin: 45px 0 0 0;}
	.build-future-number {font-size: 2.625rem; font-weight: 600; letter-spacing: -0.7px; margin-bottom: 18px;}
	.build-future-number::after {bottom: 0px;}
	.build-future-list {width: 47%;}
	.build-future-list p {font-size: 0.875rem; font-weight: 300; line-height: 1.71; letter-spacing: -0.41px; padding-bottom: 6px;}
}

@media screen and (max-width: 413px) and (min-width:200px) {
	.build-future-row {gap: 20px;}
}