.career-optional-slider { clear: both; width: 100%; background-color: rgb(238, 241, 251); padding: 89px 0 100px;}
.career-optional-slider h3{color: var(--black); margin-bottom: 51px; padding: 0 60px 0 0;}
.career-optional-slider .slick-arrow {margin: inherit; top: -81px; bottom: inherit;}
.career-optional-slider  .slick-arrow.prev-arrow {right: 30px; left: auto;}
.career-slider .slick-list {overflow: visible;}
.career-slider .slick-track {display: flex!important;}

.career-slider {display: flex; flex-wrap: wrap; width: 100%;}
.career-slider .programs-grid {width: 30.89311859443631%; margin:0 0 0 3.66%; background: var(--white); height: inherit!important;}
.career-slider .programs-grid:first-child {margin-left: 0;}
.career-slider .programs-grid .programs-thumb {height:255px; overflow: hidden;}
.career-slider .programs-grid.slick-slide {width: 422px; margin: 0 50px 0 0;}
.career-slider .programs-grid .programs-content {padding: 48px 45px 34px;}
.career-slider .programs-grid .programs-content h5 a{font-weight: 600;}
.career-slider .programs-grid .programs-content p {margin-bottom: 12px;}


/* Responsive */
@media only screen and (max-width: 1023px) and (min-width: 768px){
	.career-slider {justify-content: center;}
	.career-slider .programs-grid {width: 48.6%; margin: 0 0 20px 20px;}
    .career-slider .programs-grid.slick-slide{width: 422px; margin: 0 50px 0 0;}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
	.career-optional-slider {padding: 59px 0 30px;}
	.career-optional-slider h3 {padding: 0; margin-bottom: 32px;}
	.career-slider .programs-grid {width: 100%; margin: 0 0 20px 0;}
	.career-slider .programs-grid.slick-slide {width: 285px; margin: 0 20px 0 0;}	
	.career-slider .programs-grid .programs-content {padding:35px 35px 36px;}
	.career-slider .programs-grid .programs-content h4 {margin-bottom: 22px;}
    .career-slider .programs-grid .programs-thumb { height: 202px;}
}