:root {
    --black: #000000;
    --white: #ffffff;
	--white-15: rgb(255 255 255 / 15%);
    --white-20: rgb(255 255 255 / 20%);
    --white-50: rgb(255 255 255 / 50%);
    --white-75: rgb(255 255 255 / 75%);
    --body-text: #2B2C2D;
	--headings: #2B2C2D;
	--orange: #ff7800;
	--optional-text:#334db5;
	--text-blue: #224b73;
	--text-violetblue: #334db5;
	--violet:#1a1564;
    
}