
.community-content{background-color: var(--text-violetblue); flex-direction: column; transition: all 1s ease;}
.community-catagory ul{margin: 0; gap: 10px;}
.community-catagory ul > li{margin: 0; padding: 3px 15px 3px 16px; font-size: 0.688rem; font-weight: bold; line-height: 2; letter-spacing: 1.65px; text-transform: uppercase; background-color: var(--white); border-radius: 90px;} 
.community-catagory ul > li::before{display: none;}
.community-catagory ul > li a{color: var(--text-violetblue);}
.community-text{margin-top: auto;}
.community-text h3{color: var(--white); padding-right: 6px; margin-bottom: 18px;}
.community-text p{margin-bottom: 18px; color: var(--white);}
.community-text .button{transition: all 1s ease;}

@media screen and (min-width: 1024px) {
    .community-main{padding: 100px 0; gap: 50px;}
    .community-list{flex: 0 0 calc(34.55% - 50px);}
    .community-content{min-height: 500px; padding: 65px 68px 64px;}

    .community-list:hover .community-content{background-color: rgba(51, 77, 181, 0.8); cursor: pointer;}
    .community-list:hover .button{background: var(--white); border-color: var(--white); color: var(--text-violetblue);}
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .community-main{gap: 40px;}
    .community-list{flex: 0 0 calc(35% - 4.4%);}
    .community-content{padding: 30px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .community-main{gap: 22px; padding: 30px 0;}
    .community-list{flex: 0 0 calc( 50% - 2.5%);}
    .community-content{min-height: 373px; padding: 31px 30px 29px;}

}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .community-main{gap: 22px; padding: 30px 0;}
    .community-list{width: 100%;}
    .community-content{min-height: 373px; padding: 31px 30px 29px;}
    .community-text h3{padding-right: 53px;}
}