.common-cta-section{ overflow: hidden; background-color: var(--violet); clear: both;}
.common-cta-section .container-lg{padding: 0; overflow: hidden;}
.common-cta-main{ color: var(--white); position: relative; min-height: 546px;padding-left: 9.7%;}
.common-cta-text{display: flex; flex-direction: column; align-items: flex-start; justify-content: center; flex-wrap: wrap; padding-left: 22px;}
.common-cta-text .h1{margin-bottom: 25px; font-weight: 700;}
.common-cta-text p{max-width: 424px;}
.common-cta-text .optional-text {color: var(--white-50);}

.h1 span{color: var(--orange); font-family: CCSignLanguage; font-size: 5.375rem; line-height: 5.125rem; transform: rotate(-3.56deg); display: block; margin-top: -27px; font-weight: 500;}
.common-cta-image{position: relative; text-align: right;}
.common-cta-thumb {clip-path: ellipse(100% 110% at 100% 50%); width: 100%; height: 100%;}

.cta-icon{width: 289px; height: 318px; position: absolute; z-index: 1; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; left: -125px;} 
.cta-icon svg{width: 100%; height: auto;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    .common-cta-text{width: calc(100% - 54.83%); margin-right: auto;}
    .common-cta-image{width: 54.83%; margin-left: auto;}
}
@media only screen and (max-width: 1400px) and (min-width: 1024px){
    .common-cta-main{padding-left: 0;}

}
/* @media only screen and (max-width: 1299px) and (min-width: 1024px){
    .common-cta-text{width: calc(100% - 600px); max-width: 560px; padding: 30px 0 30px 22px;}
    .common-cta-image{width: 600px;}
} */
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .common-cta-main{flex-direction: column-reverse; padding-left: 0;}
    .common-cta-image{width: 100%; margin-bottom: 80px; position: relative;}
    .common-cta-text{width: 100%; padding: 0 22px 65px; display: block;}
    .common-cta-thumb {clip-path: ellipse(104% 99% at 50% 1%);}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .cta-icon{left: 0; right: 0; bottom: -130px; top: auto;}
    .cta-icon svg{display: block; margin: 0 auto; transform: rotate(-90deg);}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .cta-icon{left: 0; right: 0; bottom: -138px; top: auto; width: 100%;}
    .cta-icon svg{display: block; margin: 0 auto; transform: rotate(-90deg); width: 195px; height: auto;}
    .h1{margin-bottom: 14px;}
    .h1 span{font-size: 4.125rem; margin-top: -20px; margin-left: -2px;}
}