.common-cta-section{background-color: var(--violet); overflow: hidden;}

.common-cta-section .container-lg{padding: 0;}
.common-cta-main{color: var(--white); padding-left: 9.7%; position: relative; min-height: 546px;}
.common-cta-text .h1{margin-bottom: 25px; font-weight: 700;}
.common-cta-text p{max-width: 424px;}
.common-cta-text .optional-text {color: var(--white-50);}

.h1 span{color: var(--orange); font-family: CCSignLanguage; font-size: 5.375rem; line-height: 5.125rem; transform: rotate(-3.56deg); display: block; margin-top: -27px; font-weight: 500;}

.ellipse{width: 1000px; height: 1000px; border-radius: 50%; mask: linear-gradient(to right, #fff, #fff);}
.cta-thumb img {height: 100%; object-fit: contain; width: 837px;}
.cta-icon{position: absolute; z-index: 1; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; left: -125px;} 



/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    
    .common-cta-text{width: 540px; padding: 30px 0;}
    .common-cta-image{position: absolute; right: 0; top: -227px; width: 837px;}




 
}