.community-row{overflow: hidden;}
.community-list{padding: 49px 52px 65px; text-align: center; position: relative;}

.community-list span.h5{font-size: 1.313rem; font-weight: 600; line-height: 1.19; margin-bottom: 15px; display: block;}
.community-circle.orange{background-color: var(--orange);}
.community-icon{width: 142px; height: 142px; display: flex; justify-content: center; align-items: center;  border-radius: 50%; position: relative; margin: 0 auto 30px;}
.community-icon::before{content: ""; width: 142px; height: 142px; border-radius: 50%; position: absolute; left: 0; top: 0;}
.community-thumb img{width: 63px; height: 63px;}

/*-- media starts here --*/
@media only screen and (min-width: 768px){
    .community-list::before{display: block; position: absolute; left: 0; top: 0; background-image: radial-gradient(circle at 1px, #C8CCCD 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size:11px 2px; background-repeat: repeat-x; width: 100%; height: 2px; vertical-align: middle; border: 0 none; content:"";}
    .community-list::after{display: block; position: absolute; right: 0; top: 0; background-image: radial-gradient(circle at 1px, #C8CCCD 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 2px 11px; background-repeat: repeat-y; width: 2px; height: 100%; vertical-align: middle; border: 0 none; content:"";}
}
@media only screen and (min-width: 1300px){
    .community-list{flex: 0 0 25%;}
    .community-list:nth-child(-n+4){padding-top: 0;}
    .community-list:nth-child(-n+4):before{display: none;}
    .community-list:nth-child(4n+4)::after{display: none;}
    .community-list:nth-last-child(-n+4){padding-bottom: 0;}
}
@media only screen and (max-width: 1299px) and (min-width: 768px){
    .community-list{flex: 0 0 50%;}
    .community-list:nth-child(-n+2):before{display: none;}
    .community-list:nth-child(even)::after{display: none;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .community-row{display: block;}
    .community-row.slick-slider .slick-list{overflow: inherit;}
    .community-list{padding: 49px 0 65px; width: 285px; margin: 0 20px; }

}