.common-section-wrap{padding: 90px 0;}


@media screen and (min-width: 1024px) {
  .common-section-main{max-width: 1243px; margin: 0 0 0 auto; gap: 13.3%;}
  .common-section-content{width: 43.3%; max-width: 538px;}
  .common-section-image{width: calc( 100% - 56.6%);}
  .common-section-content .optional-text{margin-bottom: 17px;}
  .common-section-content h2{margin-bottom: 24px;}
  .common-section-content .button{margin-top: 14px;}
  
}


@media screen and (max-width: 1299px) and (min-width: 1024px) {
  .common-section-main{gap: 6.3%;}
  .common-section-content{width: 50.3%;}
  .common-section-image{width: calc( 100% - 56.6%);}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
	.common-section-wrap {padding: 66px 0 70px;}
	.common-section-content .optional-text {margin: 0 0 17px 0;}
	.common-section-content h2 {padding-right: 5px; margin-bottom: 20px;}
	.common-section-content .button {margin: 5px 0 0 0;}
	.common-section-image {margin: 65px 0 0 0; height: 300px; width: 100%;}
	
}