.donation-section.text-violetblue{background-color: var(--text-violetblue); overflow: hidden;}
.donation-main{color: var(--white); min-height: 526px;}
.donation-text h2{color: var(--white); margin-bottom: 42px;}
.donation-text p{font-size: 1.125rem;}
.donation-text h2 span{position: relative; z-index: 0; }
.donation-text h2 span svg{position: absolute; bottom: -21px; left: -19px; width: 260px;}
.donation-thumb{position: relative; z-index: 10;}
 .donation-thumb img{max-width: 105px; margin: 0 auto; display: block;}
 .donation-image{justify-content: center; align-items: center; width: 560px; height: 560px;}
 .circle {top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; position: absolute; border-radius: 50%;}
 .circle.text-violetblue{ background-color: var(--text-violetblue);  z-index: 5;}
 .circle.red{background-color: #ff0000;  z-index: 4;}
 .circle.orange{background-color: var(--orange);  z-index: 3;}
 .circle.green{ background-color: var(--green); z-index: 2;}
 .circle.pink{background-color: var(--pink);  z-index: 1}
/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    .donation-main{justify-content: space-between; align-items: center;}
    .donation-text{width: 422px; margin-left: auto; margin-right: 78.2px;}
    .donation-image{width: 914px; display: flex; align-items: center; justify-content: center; height: 100%;}
   
   
    
    .circle.text-violetblue{  width: 242px; height: 242px;}
    .circle.red{ width: 405px; height: 405px;}
    .circle.orange{ width: 576px; height: 576px; }
    .circle.green{  width: 746px; height: 746px; }
    .circle.pink{ width: 914px; height: 914px; }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .donation-text{margin-left: 0; margin-right: 20px; width: calc(100% - 580px)}
    .donation-image{width: 560px;}
    .circle.text-violetblue{width: 200px; height: 200px;}
    .circle.red{width: 290px; height: 290px;}
    .circle.orange{width: 380px; height: 380px;}
    .circle.green{width: 470px; height: 470px;}
    .circle.pink{width: 560px; height: 560px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .donation-main{flex-direction: column-reverse; margin-bottom: 60px;}
    .donation-image{width: 560px; top: -30px; margin-bottom: 50px;}
    .circle.text-violetblue{width: 200px; height: 200px;}
    .circle.red{width: 290px; height: 290px;}
    .circle.orange{width: 380px; height: 380px;}
    .circle.green{width: 470px; height: 470px;}
    .circle.pink{width: 560px; height: 560px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .donation-main{flex-direction: column-reverse; margin-bottom: 60px;}
    .donation-image{width: 346px; top: -30px; height: 346px;}
    .donation-thumb img { max-width: 40px;}
    .circle.text-violetblue{width: 91.5px; height: 91.5px;}
    .circle.red{width: 158px; height: 158px;}
    .circle.orange{width: 225px; height: 225px;}
    .circle.green{width: 292px; height: 292px;}
    .circle.pink{width: 358px; height: 358px;}
    .donation-text h2 span svg{width: 205px; left: -13px;}
}