.donation-section.text-violetblue{background-color: var(--text-violetblue); overflow: hidden;}
.donation-main{color: var(--white); min-height: 526px;}
.donation-text h2{color: var(--white); margin-bottom: 42px;}
.donation-text p{font-size: 1.125rem;}
.donation-text h2 span{position: relative; z-index: 0; }
.donation-text h2 span svg{position: absolute; bottom: -21px; left: -19px;}
.donation-thumb{position: relative; z-index: 10;}
 


/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    .donation-main{justify-content: space-between; align-items: center;}
    .donation-text{width: 422px; margin-left: 200px;}
    .donation-image{width: 914px; display: flex; align-items: center; justify-content: center;}
    .circle {top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; position: absolute;}
   
    .circle{border-radius: 50%;}
    .circle.text-violetblue{ background-color: var(--text-violetblue); width: 242px; height: 242px; z-index: 5;}
    .circle.red{background-color: #bfff00; width: 405px; height: 405px; z-index: 4;}
    .circle.orange{background-color: var(--orange); width: 576px; height: 576px; z-index: 3;}
    .circle.green{ background-color: var(--green); width: 746px; height: 746px; z-index: 2;}
    .circle.pink{background-color: var(--pink); width: 914px; height: 914px; z-index: 1}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .donation-text{margin-left: 50px;}
    
}