.download-asset {clear:both; width: 100%; padding: 50px 0 46px; margin-top: 90px; margin-bottom: 90px; position: relative;}
.download-asset .download-bg {width: 100%;  max-width: 1219px; right: 0; left:10.8%; height: 100%; position: absolute; z-index: -1; margin: 0 auto; background-color:var(--light-bluebg); clip-path: polygon(17.7% 0%, 100% 0%, 82.1% 100%, 0% 100%); top: 0; }

.download-asset .download-bg figure {opacity: 0.05; width: 2315px; position: relative; top: -245px; left:-465px;}
.download-asset .download-bg figure img {width: 100%;}
.download-asset h2 {margin-bottom: 29px;}
.download-asset .download-asset-main { position: relative;}

.download-asset .download-asset-wrap {justify-content: space-between; position: relative; padding: 0 17.2% 0 0; flex-direction: row-reverse;}
.download-asset .download-asset-wrap .download-asset-lt {flex-grow: 1; width: 50%; margin-top: -8px;}
.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; height: 100%; padding: 0 0 0 41px; max-width: 500px;}
.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt .optional-text {font-size: 1.125rem; color: var(--small); font-weight: 600; margin: 0 0 18px 0;}
.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt h4 {margin-bottom: 25px;}
.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt p {font-size: 1.25rem; line-height: 1.4; margin-bottom: 26px;}
.download-asset .download-asset-wrap .download-asset-rt {width:calc(100% - 55.1%); position: relative; left: -14px;}

.download-asset .download-asset-wrap .download-asset-rt .download-asset-thumb {height: 100%; clip-path: polygon(32.7% 0%, 100% 0%, 66.5% 100%, 0% 100%);}
.download-asset .download-asset-wrap .download-asset-rt .download-asset-thumb img {width: 100%; height: 100%; font-family: "object-fit: cover"; object-fit: cover; -o-object-fit: cover; object-position: 50% 50%; -o-object-position: 50% 50%;}

.btn-wrap .button {margin: 0 12px 0 0;}
.file-type {display: block; background: var(--white); border-radius: 14px; font-size: 0.75rem; font-weight: 500;
letter-spacing: 0.75px; color: var(--light-blue); padding: 5px 11px 4px;}

/*-- media css starts here --*/
@media only screen and (max-width: 1460px) and (min-width:1300px){
	.download-asset .download-asset-wrap {padding: 0 14.5% 0 0;}
	.download-asset .download-bg {right: -3.7%;}
}


@media only screen and (max-width: 1299px) and (min-width:1024px){
	.download-asset .download-bg {right: -99px; clip-path: polygon(12.7% 0%, 100% 0%, 81.1% 100%, 0% 100%);}
	.download-asset .download-asset-wrap {padding:0 4.8% 0 0;}
	.download-asset h2 {font-size: 2.3rem;}

}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	.download-asset {padding:91px 0 0 0; margin-top: 47px; margin-bottom: 51px;}
	.download-asset h2 {margin-bottom: 22px;}
	.download-asset .download-bg {left: -20px; width: calc(100% + 40px); clip-path: polygon(0% 0%, 100% 6.8%, 100% 100%, 0% 85%);}
	.download-asset .download-bg figure {width: 910px; top: -42px; left: -228px;}
	.download-asset .download-asset-wrap {width: calc(100% + 40px); left: -20px; padding: 0;}
	.download-asset .download-asset-wrap  .download-asset-lt {width: 100%; padding: 0 20px;}
	.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt {padding: 0; max-width: inherit;}
	.download-asset .download-asset-wrap .download-asset-lt .download-asset-txt .optional-text {margin: 0 0 14px 0;}
	.download-asset .download-asset-wrap  .download-asset-rt {width: 100%; margin: 56px 0 0 0; left: 0;}
	.download-asset .download-asset-wrap .download-asset-rt .download-asset-thumb {clip-path: polygon(0% 0%, 100% 14.5%, 100% 100%, 0% 85%);}
	
	
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	
	
	
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	
	
}