.feature-panel-section{overflow: hidden;}
.feature-panel-section .container-lg{padding: 0; overflow: hidden;}
.feature-panel-section.text-blue{background-color: var(--text-blue);}
.feature-panel-main{ color: var(--white); position: relative;}
.feature-panel-section .optional-text {color: var(--white-50);}
.feature-icon{position: absolute; z-index: 1; display: flex; align-items: center; width: 319px; height: 347px; top: 98px; right: -92px;}
.feature-panel-text h2{margin-bottom: 38px; color: var(--white);}
.feature-panel-text h2 span{  position: relative; z-index: 0; display: inline-block;}
.feature-panel-text h2 span svg{position: absolute; top: auto; left: -16px; bottom: -74px;}

.feature-panel-image{position: relative; text-align: right;}
.feature-panel-thumb {clip-path: ellipse(100% 120% at 0% 50%); width: 100%; height: 100%;}

/* Green */
.feature-panel-section.green {background: var(--green);}
.feature-panel-section.violetbg {background: var(--violet);}

/* text-violetblue */
.feature-panel-section.text-blue{background-color: var(--text-violetblue);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
	.feature-panel-main {min-height: 546px;}
    .feature-panel-image{width: 48.942%; margin-right:8.2%;}
    .feature-panel-text{width: calc(100% - 48.942%); margin-right: auto; padding: 30px 22px 30px 22px; display: flex; flex-direction: column; justify-content: center;
    align-items: flex-start;  max-width: 400px;}
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
    .feature-panel-main{flex-direction: column-reverse;}
    .feature-panel-image{width: 100%; position: relative;}
    .feature-panel-text{width: 100%; padding:55px 22px 74px; display: block;}
	.feature-panel-section .optional-text {margin: 0 0 10px 0;}
    .feature-panel-thumb {clip-path: ellipse(98% 100% at 50% 100%);}
	.feature-panel-text h2 {margin-bottom: 27px;}
	.feature-panel-text p {margin-bottom: 20px;}
	.feature-icon{left: inherit; right: -52px; top: -80px; transform: rotate(-60deg); width: 251px; height: auto; display: block;}

}

@media only screen and (max-width: 1023px) and (min-width: 768px){
	    .feature-panel-thumb {clip-path: ellipse(75% 100% at 50% 100%);}
	.feature-icon {top: -40px;}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
	.feature-panel-text h2 span svg {width: 172px; height: 172px; left: -9px; bottom: -86px;}
    .h1{margin-bottom: 14px;}
    .h1 span{font-size: 4.125rem; margin-top: -20px; margin-left: -2px;}
}
