.feature-panel-section{overflow: hidden; clear: both; width: 100%;}
.feature-panel-section .container-lg{padding: 0; overflow: hidden;}
.feature-panel-section.text-blue{background-color: var(--text-blue);}
.feature-panel-main{ justify-content: space-between; align-items: center; color: var(--white); position: relative;}
.feature-panel-main h2{color: var(--white);}
.feature-panel-section .optional-text {color: var(--white-50);}
.feature-thumb img {height: 100%; object-fit: contain; width: 100%;}
.feature-icon{position: absolute; z-index: 1; display: flex; align-items: center;} 

.feature-panel-text h2{margin-bottom: 38px;}
.feature-panel-text h2 span{  position: relative; z-index: 0; display: inline-block;}
.feature-panel-text h2 span svg{position: absolute; top: auto; left: -16px; bottom: -74px;}

/* Green */
.feature-panel-section.green {background: var(--green);}
.feature-panel-section.violetbg {background: var(--violet);}

/* text-violetblue */
.feature-panel-section.text-violetblue{background-color: var(--text-violetblue);}
.feature-panel-section.text-violetblue.pink-shape svg path {fill: var(--pink);}


/* Orange */
.feature-panel-section.text-violetblue.orange-shape svg path {fill: var(--orange);}

/*-- media css starts here --*/
@media only screen and (min-width: 1300px) {
    .feature-panel-main{min-height: 546px;  padding-right: 16.5%;}
    .feature-panel-image{width: 832px; left: -168px; top:-227px;}
    .feature-panel-text{width: 422px; padding: 30px 0;}
}
@media only screen and (min-width: 1024px) {
    .feature-panel-image{position: absolute;  text-align: right;}
    .feature-panel-text{margin-left: auto;}
    .ellipse-feature{width: 1000px; height: 1000px; border-radius: 50%; mask: linear-gradient(to right, #fff, #fff);}
    .feature-icon{top: 0; bottom: 0; margin: auto; right: -256px;} 
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .feature-panel-image{width: 725px; top: -150px; left: -168px;}
    .ellipse-feature{width: 730px; height: 730px;}
    .feature-icon{right: -88px;}
    .feature-panel-text{width: 375px; padding: 30px 30px 30px 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .feature-panel-main{flex-direction: column-reverse;}
    .feature-panel-text{width: 100%; padding: 40px 20px 50px; width: 100%;}
    .feature-panel-image{width: 100%;}

    .feature-panel-image { width: 100%; height: 100%; min-height: 550px; }
    .ellipse-feature { width: 800px; height: 800px; border-radius: 50% 50% 40% 40%; mask: linear-gradient(to right, #fff, #fff); position: absolute; bottom: -250px; left: 50%; transform: translateX(-50%); }
    .feature-icon { top: 290px; bottom: auto; right: -50px; transform: rotate(-54deg); }
    .feature-thumb{width: 100%; height: 100%; display: block;}
    .feature-thumb img{object-fit: cover;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .feature-panel-main{flex-direction: column-reverse;}
    .feature-panel-text{width: 100%; padding: 40px 20px 73px; width: 100%;}
    .feature-panel-image{width: 100%;}
    .feature-panel-text h2 span svg {left: -13px; bottom: -70px; width: 176px;}
    .feature-panel-text h2 {margin-bottom: 32px;}

    .feature-panel-image { width: 100%; height: 100%; min-height: 550px; }
    .ellipse-feature { width: 800px; height: 800px; border-radius: 50% 50% 40% 40%; mask: linear-gradient(to right, #fff, #fff); position: absolute; bottom: -250px; left: 50%; transform: translateX(-50%); }
    .feature-icon { top: 325px; bottom: auto; right: -50px; transform: rotate(-54deg); }
    .feature-icon svg{width: 255px; height: auto;}
    .feature-thumb{width: 100%; height: 100%; display: block;}
    .feature-thumb img{object-fit: cover;}
}