.features-module {
  clear: both;
  width: 100%;
  padding: 90px 0 43px;
  background: var(--light-bluebg)
}
.features-module h4 {
  margin-bottom: 55px
}
.features-module .features-list {
  display: inline-block;
  width: 22.31%;
  margin: 0 0 3.58% 3.58%
}
.features-module .features-list:nth-child(4n+1) {
  margin-left: 0
}
.features-module .features-list .feature-icon {
  margin: 0 0 33px
}
.features-module .features-list .feature-icon img {
  max-height: 53px;
  width: auto
}
.features-module .features-list h5 {
  font-weight: 600;
  letter-spacing: -.3px;
  margin-bottom: 7px;
  font-size: 1.125rem
}
.features-module .features-list p {
  line-height: 1.71;
  letter-spacing: -.41px;
  font-size: .875rem;
  margin-bottom: 14px
}
@media only screen and (max-width:1023px) and (min-width:768px) {
  .features-module .features-list {
    width: 46%;
    margin: 0 0 6% 8%
  }
  .features-module .features-list:nth-child(2n+1) {
    margin-left: 0
  }
}
@media only screen and (max-width: 767px) and (min-width:200px) {
  .features-module {
    padding: 70px 0 26px
  }
  .features-module h4 {
    margin-bottom: 44px
  }
  .features-module .features-list {
    display: flex;
    width: 100%;
    margin: 0 0 39px;
    flex-wrap: wrap
  }
  .features-module .features-list .feature-icon {
    margin: 0 21px 0 0;
    width: 53px
  }
  .features-module .features-list .feature-txt {
    width: calc(100% - 75px);
    padding: 8px 0 0
  }
}