.grid-banner-section{ z-index: 1; float:left; width: 100%; padding:50px 0 0 0;}
.grid-banner-text{padding-top: 49px; color: var(--white);}
.grid-banner-text h1 {font-size: 2.25rem; line-height: 1.17; margin-bottom: 25px;}
.grid-banner-text h2 {font-size: 1.313rem; line-height: 1.19; margin-bottom: 14px; font-weight: 600;}
.grid-banner-text h1, .grid-banner-text h2{color: var(--white);}
.grid-banner-text h1 a, .grid-banner-text h2 a{color: var(--white); text-decoration: none;}
.grid-banner-text h1 a:hover, .grid-banner-text h2 a:hover{opacity: 0.8;}



.grid-banner-left {display: flex; align-items: stretch;}
.grid-banner-image {height: 100%;}

.grid-banner-text {padding:35px 65px 33px 40px; width: 100%; z-index: 1; display: flex; justify-content: center; flex-direction: column; align-items: flex-start; top: 0;}
.post-big .grid-banner-text {padding:74px 20px 76px 80px; max-width: 500px; width: 100%}
.grid-banner-main {justify-content: space-between;}

