.main_header {width: 100%; top: 0; left: 0; right: 0; position: fixed; z-index: 850; transition: .3s ease-in-out;}
.main_header:after {content: ""; background:var(--white-15); height: 1px; width: 100%; display: block; position: absolute; bottom: 0;}
.main_header .header {padding:23px 0 30px;}

.main_header .logo {width: 243px; position: relative;}
.main_header .logo a {width: 100%; height: 100%; display: block; position: relative;}
.main_header .logo-pos {position: absolute; top: 0; left: 0; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index: 1;}
.main_header .normal-logo {visibility: visible; opacity: 1;}
.main_header .fixed-logo {visibility: hidden; opacity: 0;}


/* Fixed Header Logo*/
.main_header.fixed-header .normal-logo {visibility: hidden; opacity: 0;}
.main_header.fixed-header .fixed-logo {visibility: visible; opacity: 1;}

/* Header Right */
.main_header .header .menu-icon, .main_header ul li:before {display: none;}
.main_header .header-btm {display: flex; flex-wrap: wrap; justify-content: flex-end;  width: 100%; align-items: center;}
.main_header .header_right {width: calc(100% - 243px); margin: 4px 0 0 0;}

.main_header .nav-btn {margin: 0 0 0 40px;}
.main_header .nav-btn .button{padding:13px 30px 17px 29px; letter-spacing: 0.15px;}
.main_header .nav-btn .button:after {display: none;}

.main_header .lang-nav {display: inline-block; font-size: 0; margin: 0 0 0 10px;}
.main_header .lang-nav ul {margin: 0;}
.main_header .lang-nav ul li a {color: var(--white-50); font-size: 0.813rem; font-weight: 500;}
.main_header .lang-nav ul li a.current_language, .main_header .lang-nav ul li a:hover {color: var(--white);}
.main_header .lang-nav ul li {display: inline-block; margin:2px 0 0 22px;}

.model-overlay-hide {overflow: hidden;}



/* White/Fixed Header */
.main_header.fixed-header {background: var(--white);}
.main_header.fixed-header:after {background: rgba(0, 0, 0, 0.1);}

.white_header .main_header {background: var(--white);}
.white_header .main_header:after {background: rgba(0, 0, 0, 0.1);}
.white_header .main_header .normal-logo {visibility: hidden; opacity: 0;}
.white_header .main_header .fixed-logo {visibility: visible; opacity: 1;}

.white_header .main_header ul.main_menu > li > a, .main_header.fixed-header ul.main_menu > li > a {color: var(--violet);}
.white_header .main_header .nav-btn .button, .main_header.fixed-header .nav-btn .button {border-color: var(--violet); color: var(--violet);}
.white_header .main_header .nav-btn .button:hover, .main_header.fixed-header .nav-btn .button:hover {background: var(--violet); color: var(--white);}

.white_header .main_header .lang-nav ul li a, 
.main_header.fixed-header .lang-nav ul li a {color: var(--text-blue); opacity: 0.5;}
.white_header .main_header .lang-nav ul li a.current_language, .white_header .main_header .lang-nav ul li a:hover, 
.main_header.fixed-header .lang-nav ul li a.current_language, .main_header.fixed-header .lang-nav ul li a:hover {color: var(--text-blue); opacity: 1;}



/*** Responsive ***/
@media only screen and (min-width:1024px) {
  ul.main_menu {  margin: 0; font-size: 0;}
  ul.main_menu li.flex-menu > ul > li:first-child:before, ul.main_menu li::before {display: none;}
  ul.main_menu > li {margin-left: 40px; display: inline-block; margin-bottom: 0;}
  ul.main_menu > li:first-child {margin-left: 0;}
  ul.main_menu > li > a {padding:20px 0; font-size: 1.125rem; font-weight: 600; line-height: normal; display: inline-block; position: relative;
  color: var(--white); letter-spacing: 0.15px;}
	
	
  .white_header .main_header.fixed-header .lang-nav ul li a.current_language, .white_header .main_header.fixed-header .lang-nav ul li a:hover, .white_header .main_header.fixed-header .top-nav ul li a:hover, .white_header .main_header.fixed-header ul.main_menu > li > a, ul.main_menu > li.current-menu-item > a, ul.main_menu > li.current-menu-parent > a, ul.main_menu > li.current-page-ancestor > a, ul.main_menu > li.menu-item-has-children > a:hover, ul.main_menu > li > a:hover, .white_header .main_header ul.main_menu > li > a:hover {color: var(--orange);}
  
  .white_header .main_header.fixed-header ul.main_menu > li.current-menu-item > a::after, .white_header .main_header.fixed-header ul.main_menu > li.current-menu-parent > a::after, .white_header .main_header.fixed-header ul.main_menu > li.current-page-ancestor > a::after, .white_header .main_header.fixed-header ul.main_menu > li.menu-item-has-children > a:hover:after, .white_header .main_header.fixed-header ul.main_menu > li > a:hover:after, ul.main_menu > li.current-menu-item > a::after, ul.main_menu > li.current-menu-parent > a::after, ul.main_menu > li.current-page-ancestor > a::after, ul.main_menu > li.menu-item-has-children > a:hover:after {background-color: var(--anchor-hover);}
	
  .white_header .main_header ul.main_menu > li.current-menu-item > a::after, .white_header .main_header ul.main_menu > li.current-menu-parent > a::after, .white_header .main_header ul.main_menu > li.current-page-ancestor > a::after, .white_header .main_header ul.main_menu > li.menu-item-has-children > a:hover:after, .white_header .main_header ul.main_menu > li > a:hover:after, ul.main_menu > li > ul {background-color: var(--white);}
	
	
  ul.main_menu > li > ul {margin: 0; padding:23px 36px 18px 32px; min-width: 267px; width: 100%; top: calc(100% + 5px); left: 50%; transform: translate(-50%,0); position: absolute; background-color: var(--white); border-radius: 15px; box-shadow: 0 4px 44px 0 rgba(1,32,237,.15);
opacity: 0; visibility: hidden; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.175,.885,.32,1.275); z-index: 851;}
  ul.main_menu > li > ul:before {content: ""; width: 0; height: 0; bottom: 100%; left: 50%; transform: translateX(-50%); border-color: transparent transparent #fff; border-style: solid; border-width: 0 6px 8px; position: absolute;}
  ul.main_menu > li > ul > li {margin: 0 0 12px;}
  ul.main_menu > li > ul > li > a {font-size: 1rem; font-weight: 500; line-height: 1.3;}
  ul.main_menu > li > ul > li > a:hover {color: var(--orange);}
  nav.navigation, ul.main_menu > li:hover > ul {opacity: 1; visibility: visible; top: 100%;}
}


@media only screen and (max-width:1440px)and (min-width:1024px) {
	ul.main_menu > li {margin-left: 30px;}
}


@media only screen and (max-width:1399px)and (min-width:1200px) {
	.main_header .logo {width: 190px;}
	.main_header .header_right {width: calc(100% - 190px);}
	
	ul.main_menu > li {margin-left: 20px;}
	ul.main_menu > li > a {font-size: 1.025rem;}
	
	.main_header .nav-btn {margin: 0 0 0 20px;}
	.main_header .lang-nav {margin: 0;}

}

@media only screen and (max-width:1199px)and (min-width:1024px) {
	.main_header .logo {width: 165px;}
	.main_header .header_right {width: calc(100% - 165px);}
	
	ul.main_menu > li {margin-left: 17px;}
	ul.main_menu > li > a {font-size: 0.865rem;}	
	
	.main_header .nav-btn {margin: 0 0 0 15px;}
	.main_header .nav-btn .button {padding: 9px 21px 12px 20px; font-size: 0.865rem;}
	
	.main_header .lang-nav {margin: 0;}
	.main_header .lang-nav ul li {margin: 2px 0 0 15px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
	
}
@media only screen and (max-width:1023px) and (min-width:200px) {

  .main_header .header {padding: 17px 0 12px; min-height: 90px;}
  
  .main_header .header_right.mobile_menu {  display: flex; padding: 63px 82px; width: 100%; height: auto; top: 90px; left: 0; bottom: 0; position: fixed; background: var(--white); overflow-y: auto; -webkit-overflow-scrolling: touch; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index: 100001; opacity: 0; visibility: hidden; margin: 0; text-align: left
  }
  .main_header .header_right.navOpen {  opacity: 1; visibility: visible
  }
  .main_header .header .menu-icon {  position: absolute; flex-direction: column; width: 31px; right: 28px; height: 23px; cursor: pointer; top: -4px; bottom: 0; margin: auto; display: block
  }
  .main_header .header .menu-icon span.line {  width: 31px; height: 3px; margin: 0 auto; background-color: var(--heading); display: block; position: absolute; top: 50%; transform: translateY(-50%); transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; border-radius: 4px
  }
  .main_header .header .menu-icon span.line2 {  margin-top: 10px
  }
  .main_header .header .menu-icon span.line1 {  margin-top: -10px
  }
  .main_header .header .menu-icon a {  display: block; height: 100%
  }
  .main_header .header .menu-icon a.active {  width: 31px; background-image: none; z-index: 10001
  }
  .main_header .header .menu-icon a.active span.line {  width: 31px; display: block; height: 2.5px; background-color: var(--heading); border-radius: 2px; top: 50%; position: absolute; transform: translateY(-50%); left: 0; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out
  }
  .main_header .header .menu-icon a.active span.line1 {  margin-top: 0; transform: translateY(-50%) rotate(45deg)
  }
  .main_header .header .menu-icon a.active span.line2, .main_header.menuOpen .normal-logo {  visibility: hidden; opacity: 0
  }
  .main_header .header .menu-icon a.active span.line3 {  margin-top: 0; transform: translateY(-50%) rotate(-45deg)
  }
  .main_header .header-top {  order: 2; margin: auto 0 22px
  }
  .main_header .lang-nav ul li a, .main_header .top-nav ul li a, .main_header .top-nav ul li span {  color: var(--light-blue)
  }
  .main_header .lang-nav ul li a.current_language, .main_header .lang-nav ul li a:hover, .main_header .top-nav ul li a:hover {  color: var(--anchor-hover)
  }
  .main_header .top-nav ul li::after, .main_header.menuOpen:after {  background: #e2e5e6
  }
  .main_header .header-map {  position: fixed; right: 0; opacity: .05; margin: auto
  }
  .main_header .header-btm {  margin-bottom: 60px
  }
  
  ul.main_menu {  margin: 0; display: block
  }
  ul.main_menu li ul .txt-btn .button-text, ul.main_menu li::before {  display: none
  }
  ul.main_menu > li {  margin-bottom: 0; border-bottom: 1px solid rgba(207, 216, 223, .5)
  }
  ul.main_menu > li:last-child {  border-bottom: 0
  }
  ul.main_menu > li > a {  padding: 27px 0 22px; font-size: 1.125rem; line-height: normal; letter-spacing: -.3px; font-weight: 600; color: var(--heading); display: block; position: relative
  }
  ul.main_menu > li > a:hover, ul.main_menu > li > ul > li a:hover {  color: var(--anchor)
  }
  ul.main_menu > li.menu-item-has-children > a::after {  right: 0; top: 50%; transform: translateY(-50%); font-size: 20px; content: "\f061"; color: var(--anchor); font-family: "Font Awesome 6 Pro"; font-weight: 500; transition: .3s ease-in-out; position: absolute
  }
  ul.main_menu > li > a.active {  padding-left: 41px; color: var(--small); padding-bottom: 16px
  }
  ul.main_menu > li > a.active::after {  left: 8px; right: auto; content: "\f104"; color: var(--small); top: 58%
  }
  ul.main_menu > li.sib {  opacity: 0; display: none
  }
  ul.main_menu > li.sib ~ li {  border: 0
  }
  ul.main_menu > li > ul {  margin: 0; display: none
  }
  ul.main_menu > li > ul > li {  border-top: 1px solid rgba(207, 216, 223, .5); margin-bottom: 0
  }
  ul.main_menu > li.flex-menu > ul > li {  padding: 27px 10px 29px
  }
  ul.main_menu > li.flex-menu > ul > li a {  padding: 0
  }
  ul.main_menu > li > ul > li a {  font-weight: 600; color: var(--heading); font-size: 1.1rem; padding: 27px 10px 29px; display: block
  }
  ul.main_menu > li > ul > li:first-child {  border-top: 0
  }
  ul.main_menu li ul .txt-btn {  position: absolute; display: block; width: inherit; right: 0; top: inherit; bottom: 25px
  }
  ul.main_menu li ul .txt-btn:hover .icon.arrow {  transform: none
  }
  ul.main_menu li ul .txt-btn .icon {  position: static
  }
  ul.main_menu li ul .txt-btn .icon.arrow::before {  font-size: 20px; font-weight: 500; position: inherit
  }
  ul.main_menu li ul .txt-btn:hover .icon.arrow::before {  content: "\f061"
  }
  .white_header .main_header .header .menu-icon a.active span.line, .white_header .main_header .header .menu-icon span.line {  background-color: var(--white)
  }
  .white_header .main_header.fixed-header .header .menu-icon a.active span.line, .white_header .main_header.fixed-header .header .menu-icon span.line, .main_header.menuOpen .header .menu-icon a.active span.line {  background-color: var(--heading)
  }
  .main_header.menuOpen {  background: var(--white)
  }
  .main_header.menuOpen .fixed-logo {  visibility: visible; opacity: 1
  }
  .main_header.menuOpen .logo::before {  background: var(--anchor)
  }
}
@media only screen and (max-width:767px) and (min-width:200px) {
  .main_header .header_right.mobile_menu {  padding: 20px 20px 29px
  }
  .main_header .header-map {  left: -82px; bottom: -64px; width: 639px; height: 380px
  }
  .main_header .header-top {  display: flex; flex-wrap: wrap; margin: auto 15px 22px 5px
  }
  .main_header .top-nav ul li span {  top: 2px
  }
  .main_header .top-nav ul li {  display: block; margin: 20px 0 0
  }
  .main_header .top-nav ul li::after {  display: none
  }
  .main_header .lang-nav {  margin: auto 0 0 auto
  }
  .main_header .lang-nav ul li {  margin: 0 0 0 31px
  }
  ul.main_menu > li > ul > li {  padding: 27px 0 29px
  }
  ul.main_menu > li > a.active::after {  left: -3px
  }
  ul.main_menu > li > a.active {  padding-left: 30px
  }
}