.hero-banner-section{z-index: 1; clear: both; position: relative; width: 100%; padding: 120px 0 0 0; background:var(--violet); margin: 0 0 76px 0;}
.hero-banner-section .hero-banner-main {justify-content:space-between; position: relative; min-height: 578px; align-items: center;}
.hero-banner-section .hero-banner-main .hero-banner-txt {width:42%; margin:0 3% 0 0; color: var(--white);}
.hero-banner-section .hero-banner-main .hero-banner-txt .optional-text {color:var(--white-50); margin: 0 0 15px 0;}
.hero-banner-section .hero-banner-main .hero-banner-txt h1 {color: var(--white); margin-bottom: 18px;}
.hero-banner-section .hero-banner-main .hero-banner-txt p {font-size: 1.125rem; line-height: 1.39; font-weight: 600;}
.hero-banner-section .hero-banner-main .hero-banner-image {width:53%;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {position:absolute; display:flex; align-items:stretch; height:606px; width:606px; right: 0; bottom: -37px;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img img {border-radius: 50%;}
.hero-banner-section .hero-banner-main .hero-banner-image .img-shape-1 {} 
.hero-banner-section .hero-banner-main .hero-banner-image .img-shape-2 {}
.hero-banner-section .hero-banner-main .hero-banner-image .img-shape-3 {}



/*-- media starts here --*/
@media only screen and (max-width: 1640px){ 
	
}


@media only screen and (max-width: 1499px){ 
	

}

@media only screen and (max-width: 1399px) and (min-width:1200px){ 
	
}

@media only screen and (max-width: 1199px) and (min-width:1024px){
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	
	
}

@media only screen and (max-width: 1023px) and (min-width:768px){
	
	
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	
}