.hero-banner-section{z-index: 1; clear: both; position: relative; width: 100%; padding: 120px 0 0 0; background:var(--violet); margin: 0 0 37px 0;}
.hero-banner-section .hero-banner-main {justify-content:space-between; position: relative; min-height: 578px; align-items: center; padding: 40px 0; max-width: 1150px; margin: 0 auto;}
.hero-banner-section .hero-banner-main .hero-banner-txt {width:42%; margin:0 3% 10px 0; color: var(--white);}
.hero-banner-section .hero-banner-main .hero-banner-txt .optional-text {color:var(--white-50);}
.hero-banner-section .hero-banner-main .hero-banner-txt h1 {color: var(--white); margin-bottom: 18px;}
.hero-banner-section .hero-banner-main .hero-banner-txt h1 span {font-size: 7.25rem; line-height: 6rem; color: var(--pink); font-family: CCSignLanguage; letter-spacing: normal; font-weight: normal; display: block; transform: rotate(-1.25deg); margin: -4px 0 0 -3px;}
.hero-banner-section .hero-banner-main .hero-banner-txt p {font-size: 1.125rem; line-height: 1.39; font-weight: 600;}
.hero-banner-section .hero-banner-main .hero-banner-image {width:53%;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {position:absolute; display:flex; align-items:stretch; height:606px; width:606px; right: 0; bottom: -37px;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img img {border-radius: 50%;}
.hero-banner-wrap {max-width: 1700px; margin: 0 auto;}


/* Reverse */
.hero-banner-section.reverse .hero-banner-main {flex-direction: row-reverse; max-width: 1270px;}
.hero-banner-section.reverse .hero-banner-main .hero-banner-image .banner-img {left: 0; right: inherit;}
.hero-banner-section.reverse .hero-banner-main .hero-banner-txt {width: 38.8%; margin: 0 0 3px 3%;}

/* Color Specific */
.hero-banner-section.blue-bg {background: var(--text-violetblue);}



/*-- media starts here --*/
@media screen and (max-width: 1399px) and (min-width: 768px) {
.hero-banner-section .hero-banner-main .hero-banner-txt h1 span {font-size: 5rem; line-height: 4.5rem;}
}


@media only screen and (max-width: 1199px) and (min-width:1024px){
	.hero-banner-section {padding: 114px 0 0 0;}
	.hero-banner-section .hero-banner-main {min-height: 530px;}
	
}


@media only screen and (max-width: 1160px) and (min-width:1024px){
	.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {height: 500px!important; width: 500px!important;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	.hero-banner-section {padding: 80px 0 0 0;}
	.hero-banner-section .hero-banner-main {align-items: flex-start; min-height: inherit; padding: 56px 0 0;}
	.hero-banner-section .hero-banner-main .hero-banner-txt, .hero-banner-section.reverse .hero-banner-main .hero-banner-txt {width: 100%; margin: 0 0 67px 0;}
	.hero-banner-section.reverse .hero-banner-main .hero-banner-txt {margin: 0 0 61px 0;}
	.hero-banner-section .hero-banner-main .hero-banner-txt .optional-text {margin: 0 0 10px 0;}
	.hero-banner-section .hero-banner-main .hero-banner-txt p {margin-bottom: 18px;}
	.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {position: relative; width: 337px!important; height: 337px!important; left: 0; right: 0; margin: auto; bottom: -33px;}
	.hero-banner-section .hero-banner-main .hero-banner-image {width: 100%; margin: -50px 0 0 0;}
	
}


@media only screen and (max-width: 767px) and (min-width: 200px){
	.hero-banner-section .hero-banner-main .hero-banner-txt h1 span {font-size: 4.25rem; line-height: 3rem;}

}