.history-section{clear: both; width: 100%; position: relative;}
.history-section:after{width: 230px; height: 100%; position: absolute; display: block; content: ""; right: 0; top: 0; z-index: 1; background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); }
.history-bg { position: absolute; margin: 0 auto; max-width: 1700px; width: 100%; z-index: -1; left: 3.4%; right: 0; }
.history-wrap{padding: 0 0 90px;}
.history-wrap h3{margin-bottom: 68px; font-size: 2.625rem;}
.event-slider .slick-list {overflow: visible;}

.custom_arrows_ac .slick-arrow {width: 14px; height: 14px; position: inherit;}
.event-slider  .slick-arrow.slick-disabled { border-color: rgba(0, 0, 0, 0.2); }
 .custom_arrows_ac{display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; margin: auto; background-color: white; width: 80px; height: 80px; border-radius: 50%; border: black 2px solid !important;} 
 .custom_arrow_dir_left  {transform: rotate(-45deg); right: 25px;}
 .custom_arrow_dir_right  {transform: rotate(135deg); left: 25px;}

.event-grid {width: 304px; margin: 0 120px 0 0; background: var(--white);}
.event-dot{margin-bottom: 27px;}
.event { color: var(--pink); font-size: 4.25rem; line-height: 4.375rem; font-weight: 500; font-family: CCSignLanguage; margin-bottom: 6px; position: relative; left: 9px;}
h5{font-size: 1.125rem;}
p{font-size: 0.938rem;}

.pink .event{color: var(--pink);}
.teal .event{color: var(--teal);}
.green .event{color: var(--green);}
.blue .event{color: var(--violetblue);}
.orange .event{color: var(--orange);}
.violet .event{color: var(--violet);}
.red .event{color: var(--red);}


/* Custom slick arrow */

.custom_arrow {cursor: pointer;}

/*-- media starts here --*/

@media only screen and (max-width: 1299px) and (min-width: 1024px) {
    .event-grid {width: 230px; margin: 0 60px 0 0; background: var(--white);}
    .event-slider .slick-arrow.prev-arrow { left: 5px !important; top: -112px!important;}
    .event-slider .slick-arrow.next-arrow { right: -44px !important; top: -112px!important;}
    .event-slider .slick-arrow.prev-arrow::after{width: 75px; height: 75px;} 
    
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .event-grid {width: 230px; margin: 0 50px 0 0; background: var(--white);}
    
    .event-slider {position: relative;}
    .event-slider .slick-arrow.prev-arrow {  position: absolute; right: 0; }
    .event-slider .slick-arrow.next-arrow { right: -36px !important; top: -205px; }

}
