.home-banner-section {position: relative; z-index: 1;}
.background-bg {width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: -1;}
.home-banner-main{padding-top: 132px;}
.home-banner-text{color: #8fd5df}
.home-banner-text span{display: block; font-weight:bold; font-size: 1.375rem; letter-spacing: -0.37px; margin-bottom: 26px;}
.home-banner-text h1{font-weight: normal; color: #ffffff; font-size: 3.875rem; letter-spacing: -2.66px; margin-bottom: 40px;}
.home-banner-image img{clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 19% 48%);}

  
  /*-- media starts here --*/
@media only screen and (min-width: 1024px){
    .home-banner-main{flex-wrap: nowrap;}
    .home-banner-text{flex: 0 0 420px;}
    .home-banner-image{flex: calc(100% - 420px);}
    .home-banner-image img{min-width: 1012px;}
  }