.banner-bg {left: -174px; top: -69px;}
.banner-bg figure {width: 1005px;}
.default-banner-section .hero-banner-main {padding: 99px 0 0 0;}
.default-banner-section .hero-banner-main .hero-banner-image .banner-img {min-width: 1012px; clip-path: polygon(38% 0%, 100% 0, 100% 100%, 0% 100%);}
.default-banner-section .hero-banner-main .hero-banner-image .banner-img::before {display: none;}
.default-banner-section .hero-banner-main .hero-banner-txt {padding: 0; width: 390px; margin:23px 0 auto 16.9%;}
.default-banner-section .hero-banner-main .hero-banner-txt span {color: var(--light-txt); margin: 0 0 26px 0;}
.default-banner-section .hero-banner-main .hero-banner-txt h1 {font-weight: 300; letter-spacing: -2.66px; margin-bottom: 25px;}

.default-banner-section .hero-banner-main .hero-banner-image {width:calc(100% - 688px);}

@media only screen and (max-width: 1299px) and (min-width: 1024px){
	.default-banner-section .hero-banner-main .hero-banner-txt {width: 360px; margin: 23px 0 auto 30px;}
	.default-banner-section .hero-banner-main .hero-banner-image {width: calc(100% - 412px);}
	.default-banner-section .hero-banner-main .hero-banner-image .banner-img {clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);}

}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	.banner-bg {top:-73px; left:-173px;}
    .banner-bg figure {width: 1005px;} 
	.default-banner-section .hero-banner-main {padding: 46px 0 0 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt {padding: 0 20px; width: 100%; margin: 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt span {margin: 0 0 17px 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt h1 {padding-right: 55px; letter-spacing: -2.23px; margin-bottom: 30px;}
	.default-banner-section .hero-banner-main .hero-banner-image {width: 100%;}
	
	
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
	.banner-bg {top: 117px; left: -220px;}
    .banner-bg figure {width: 1235px;}
	.default-banner-section {margin: 0 0 4px 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt {margin: 0 0 1px 0;}
	.default-banner-section .hero-banner-main .hero-banner-image .banner-img {clip-path: polygon(38% 0%, 100% 0, 100% 100%, 0% 100%); right: 0; max-width: 664px; min-width: inherit; margin-left: auto;}
}

@media only screen and (max-width:767px) and (min-width: 200px){
	.default-banner-section {margin: 0 0 4px 0;}
	.default-banner-section .hero-banner-main {padding: 69px 0 0 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt h1 {letter-spacing: -1.63px; font-size: 2.375rem; margin-bottom: 25px; padding: 0;}
	.default-banner-section .hero-banner-main .hero-banner-txt span {margin: 0 0 22px 0;}
	.default-banner-section .hero-banner-main .hero-banner-image .banner-img {clip-path: polygon(31% 0%, 100% 0, 100% 100%, 0% 100%); right: 0; max-width:359px; min-width: inherit; margin-left: auto;}
	.default-banner-section .hero-banner-main .hero-banner-image .banner-img img {min-height: 191px;}
	.default-banner-section .hero-banner-main .hero-banner-image {margin: 70px 0 0 0;}
}