.intro-module {clear: both; width: 100%; padding:52px 0;}
.intro-main {align-items: center;}
.intro-lt {width: 41%; flex-grow: 1; margin: 0 10% 0 0;}
.intro-lt span {position: relative; display: inline-block;}
.intro-lt span svg {position: absolute; bottom: -50px; right: -11px; width: 139px; height: 63px;}
.intro-rt {flex-grow: 1; width: calc(100% - 51%); padding: 8px 0 0 0;}

/* Responsive */
@media only screen and (max-width: 1023px) and (min-width:200px){
	.intro-lt {width: 100%; margin: 0 0 7px 0;}
	.intro-col-lt .button {margin: 19px 0 0 0;}
}
@media only screen and (max-width: 767px) and (min-width:200px){
	.intro-lt h2{margin-bottom: 13px;}
	.intro-lt .hide-in-mobile{display: block;}
	.intro-lt .hide-in-desktop{display: none;}
    .intro-lt span svg  {bottom: -30px; right: -14px; width: 129px; height: 46px;}
}