.optional-features-module {
  clear: both;
  width: 100%;
  padding: 80px 0 42px;
  background: var(--light-bluebg)
}

.optional-features-module h2 {font-weight: bold; letter-spacing: -0.72px; margin-bottom: 19px;}
.optional-features-module h4 {
  margin-bottom: 9px
}
.optional-features-module .optional-features-list {
  display: inline-block;
  width: 30.88235294117647%;
  margin: 0 0 3.58% 3.58%;
	background: var(--white);
	padding: 35px 35px 30px;
}
.optional-features-module .optional-features-list:nth-child(3n+1) {
  margin-left: 0
}
.optional-features-module .optional-features-list .optional-feature-icon {
  margin: 0 0 33px
}
.optional-features-module .optional-features-list .optional-feature-icon img {
  max-height: 53px;
  width: auto
}
.optional-features-module .optional-features-list h5 {
  font-weight: 600;
  letter-spacing: -.3px;
  margin-bottom: 7px;
  font-size: 1.125rem
}
.optional-features-module .optional-features-list p {
  line-height: 1.71;
  letter-spacing: -.41px;
  font-size: .875rem;
  margin-bottom: 10px
}

.optional-features-module .optional-features-list:hover {box-shadow: 0 2px 90px 0 rgba(0, 58, 112, 0.2);}
.optional-features-module .optional-features-list:hover .txt-btn .button-text {opacity: 1; visibility: visible}
.optional-features-module .optional-features-list:hover .txt-btn .icon {transform: translate(6.3rem, 0);}
.optional-features-module .optional-features-list:hover .txt-btn .icon.arrow::before {content: "\e09f";}


@media only screen and (max-width:1023px) and (min-width:768px) {
  .optional-features-module .optional-features-list, .optional-features-module .optional-features-list:nth-child(3n+1) {
    width: 46%;
    margin: 0 0 6% 8%
  }
  .optional-features-module .optional-features-list:nth-child(2n+1) {
    margin-left: 0
  }
}
@media only screen and (max-width: 767px) and (min-width:200px) {
  .optional-features-module {
    padding: 60px 0 40px
  }
	.optional-features-module h2 {margin-bottom: 14px}
  .optional-features-module .optional-features-list {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    flex-wrap: wrap;
	  padding: 35px 35px 28px;
  }
  
  .optional-features-module .optional-features-list .feature-txt {
    width: calc(100% - 75px);
    padding: 8px 0 0
  }
}