.team-members-section{background-color: #f3f8fe; clear: both; width: 100%; position: relative;}
.team-members-wrap{padding: 90px 0 100px 0;}
.team-members-head{margin-bottom: 31px; justify-content: space-between;}
.team-members-list{width: 302px; margin-right: 50px;}
.team-members-list:hover .team-members-content::before{background-color: var(--anchor);}

.team-members-content h4{margin-bottom: 1px;}
.team-members-content .pos-title {display: block; letter-spacing: 0.75px; font-size: 0.75rem; color: var(--sub-blue);  font-weight: 600; text-transform: uppercase; line-height: 1.5;}
.team-members-button{margin: -2px 33px 0px 0;}
.team-members-button span{font-size: 0.688rem; font-weight: bold; letter-spacing: 1.6px; color: var(--anchor); text-transform: uppercase;}

.team-members-image{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90.5%); height:302px; margin: 0 0 16px;}
.team-members-image::before{content: ""; position: absolute; width:calc(100% + 10px); height: 47px; background-color: rgba(0, 85, 184, 0.5); bottom: -35px; transform: rotate(5.5deg);
z-index: 1;
left: -5px; transition: all .5s ease;}

.team-members-list:hover .team-members-image::before{bottom: -6px;}

.team-members-slider .slick-list.draggable{overflow: inherit;}
.team-members-slider .slick-arrow.next-arrow{right: 0; left: auto; top: -76px; margin: inherit;}
.team-members-slider .slick-arrow.prev-arrow{right: 126px; left: auto; top: -76px; margin: inherit;}



/*-- media starts here --*/
@media only screen and (min-width: 1024px){


}

@media only screen and (max-width: 1023px) and (min-width: 768px){
 

}
@media only screen and (max-width: 767px) and (min-width: 200px){
  .team-members-wrap{padding: 70px 0 105px 0;}
  .team-members-head{margin-bottom: 22px;}
  .team-members-list{width: 308px; margin-right: 20px;}
  .team-members-image::before{bottom: -35px;} 
  .team-members-button{position: absolute; bottom: 41px; left: 50%; transform: translateX(-50%);}

  .team-members-slider .slick-arrow.prev-arrow{right: auto; left: calc(50% - 68px); top: auto; bottom:-58px;}
  .team-members-slider .slick-arrow.next-arrow{right: auto; left: calc(50% + 58px); top: auto; bottom:-58px;}

}