.product-catalog-section{background-color: var(--light-bluebg);  position: relative;}
.product-catalog-wrap{padding:0 0 99px;}
.product-catalog-text{background-color: var(--white);}
.product-catalog-text h3{font-size: 2rem; font-weight: normal; letter-spacing: -0.53px; margin-bottom: 27px;}
.product-catalog-text:last-child{background: rgb(0,85,184);
background: linear-gradient(90deg, rgba(0,85,184,1) 0%, rgba(0,58,112,1) 100%); justify-content: end;}
.product-catalog-text:last-child h3{color: var(--white);}
.product-catalog-text:last-child .optional-text {color: var(--light-txt);}
.product-catalog-text:last-child .product-catalog-text-inner {padding-left: 22px; position: relative; z-index: 1;}

.product-catalog-image{position: absolute; left: 50%; transform: translateX(-54.5%); top: -30px; z-index: 1; width: 615px; min-height: 544px; height: calc(100% + 60px);}
.product-catalog-thumb img{clip-path: polygon(56% 0%, 100% 0%, 44% 100%, 0% 100%);}
.product-catalog-thumb::before { content: ""; position: absolute; width: 390px; height: 100%; background-color: var(--anchor); right: 0; z-index: 1; opacity: 0.5; mix-blend-mode: multiply; clip-path: polygon(88% 0%, 100% 0%, 11.7% 100%, 0% 100%); }


.product-catalog-main::before{background-color: var(--light-bluebg);}


@media screen and (min-width: 1024px) {
    .product-catalog-text{width: 50%; padding: 123px 0 108px; position: relative}
    .product-catalog-text-inner{max-width: 438px;}
    .product-catalog-main::before{content: ""; position: absolute; width: 1000%; height: 100%; background-color: var(--white); left: auto; right: 100%; top: 0;}
    .product-catalog-main::after{content: ""; position: absolute; width: 1000%; height: 100%; background: rgb(0, 58, 112); left: 100%; right: auto; top: 0;}
	.product-catalog-text:last-child:before {content: ""; position: absolute; width:50px; height: calc(100% - 50%); background: var(--anchor); left:-50px; bottom: 0;}
	
}


@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .product-catalog-text-inner{max-width: 320px;}
	.product-catalog-text h3 {font-size: 1.5rem;}
	.product-catalog-text:last-child .product-catalog-text-inner {padding: 0;}
	.product-catalog-image {width: 515px;}
	.product-catalog-thumb::before {width: 327px;}
	
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
	.product-catalog-section .container {padding: 0;}
	.product-catalog-text {padding: 66px 20px 48px;}
	.product-catalog-text h3 {margin-bottom: 26px; font-weight: 300;}
	.product-catalog-text:last-child .product-catalog-text-inner {padding: 0;}
	.product-catalog-text:last-child {padding: 106px 20px 74px}
	.product-catalog-image {position: relative; transform: none; width: 100%; min-height: inherit; height: 100%; clip-path: polygon(0 14.9%, 100% 0, 100% 82%, 0% 100%); left: inherit; top: inherit; height: 261px; margin-bottom: -47px;}
	.product-catalog-thumb::before {clip-path: none; transform: rotate(-3.5deg); bottom: 23px; width: 100%; height: 25px;}
	.product-catalog-thumb img {clip-path: inherit}
	.product-catalog-main {background-color: var(--light-bluebg); }
	.product-catalog-wrap {padding: 0;}	
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.product-catalog-text h3 {padding-right: 25px; }
}

@media screen and (max-width: 767px) and (min-width: 200px) {
	.product-catalog-thumb::before {transform: rotate(-6.5deg);}
	.product-catalog-text .optional-text {margin: 0 0 18px 0;}
	.product-catalog-text {padding: 66px 20px 46px}
	.product-catalog-text h3 {letter-spacing: -0.43px; font-size: 1.625rem; margin-bottom: 25px;}
	.product-catalog-text:last-child {padding: 102px 20px 70px;}
}