.programs-default-slider{padding: 47px 0 74px;}
.programs-slider{width: 100%; padding: 0; margin: 0;}
.video-slider .slick-track { display: flex !important; }
.video-slider .single-slide {height: inherit !important;}
.single-slide .video-thumbnail { height: 100%;}
.single-slide .video-thumbnail .play-btn img{position: relative; left: 4px;}
.video-slider .slick-arrow.slick-disabled{opacity: 0;}
.video-slider .slick-arrow{ background-color: var(--white); border-radius: 50%; width: 72px; height: 72px; border: 0 none; transform: none;}
.video-slider .slick-arrow.prev-arrow{left: 30px;}
.video-slider .slick-arrow.next-arrow{right: 30px;} 
.video-slider .slick-arrow::after{content: ""; background-image: url("../images/right-arrow.svg"); position: absolute; display: block; width: 38px; height: 26px;}
.video-slider .slick-arrow:hover{opacity: 0.2;}
.video-slider .slick-arrow.prev-arrow:after{transform: scale(-1);} 



@media only screen and (max-width: 1023px) and (min-width: 768px) {
.programs-default-slider { padding:0 0 74px; }
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
.programs-default-slider{padding: 0 0 45px;} 
.video-slider .single-slide{min-height: 281px;}
.programs-default-slider .container{padding: 0;}
}