.programs-grid {width: 30.89311859443631%; margin:0 0 3.65% 3.65%; background: var(--white);}
.programs-grid:nth-child(3n+1) {margin-left: 0;}
.programs-grid .programs-thumb {height:255px; overflow: hidden; position: relative;}
.programs-grid .programs-content {padding:44px 45px 40px;}
.programs-grid .programs-content h5 {margin-bottom: 19px;}
.programs-grid .programs-content h5, .programs-grid .programs-content h5 a {color: var(--h4); font-weight: 600; text-decoration: none;}
.programs-grid .programs-content h5 a:hover {color: var(--text-violetblue);}
.programs-grid .programs-content p {margin-bottom: 14px;}
.programs-grid .cat-wrap {position: absolute; top: 27px; left: 21px; z-index: 1;}



/* Responsive */
@media only screen and (max-width: 1160px) and (min-width:1024px){
	.programs-grid .programs-content {padding: 39px 30px;}
}

@media only screen and (max-width: 1023px) and (min-width:768px){
	.programs-grid, .programs-grid:nth-child(3n+1) {width: 48.15%; margin: 0 0 3.65% 3.65%;}
	.programs-grid:nth-child(2n+1) {margin-left: 0;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	.programs-grid {width: 100%; margin: 0 0 22px 0!important;}	
	.programs-grid .programs-content {padding:34px 35px 35px;}
	.programs-grid .programs-content h5 {margin-bottom: 23px;}
	.programs-grid .programs-thumb {height: 242px;}

}