.product-common-section{background-color: var(--light-bluebg);}
.product-common-wrap{padding: 90px 0 70px;}
.product-common-heading{max-width: 655px; margin-bottom: 50px;}
.product-common-heading h2{margin-bottom: 19px;}


.product-common-item{width:30.88235294117647%; margin:0 0 3.67% 3.67%; background-color: var(--white);}
.product-common-item:nth-child(3n+1) {margin-left: 0;}
.product-common-thumb img{clip-path:polygon(0 0, 100% 0, 100% 100%, 0 84%); min-height: 255px; max-height: 255px;}
.product-common-content{padding: 10px 39px 30px 40px;}
.product-common-content h4{margin-bottom: 9px;}

@media only screen and (max-width: 1023px) and (min-width:768px) {
	.product-common-item, .product-common-item:nth-child(3n+1) {width: 47.2%; margin: 0 0 40px 40px;}
	.product-common-item:nth-child(2n+1) {margin-left: 0;}
}

@media only screen and (max-width: 767px) and (min-width:200px) {
	.product-common-wrap {padding:60px 0 50px;}
	.product-common-heading {margin-bottom: 40px;}
	.product-common-heading h2 {margin-bottom: 14px; padding-right:10px;}
	.product-common-item {margin: 0 0 20px 0; width: 100%;}
	.product-common-thumb img {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92.5%);}
	.product-common-content {padding: 10px 39px 30px 31px;}
	.product-common-content h4 {margin-bottom: 11px;}
	.product-common-content p {margin-bottom: 13px;}
}