.relational-module{clear: both; background-color: rgb(238, 241, 251); padding: 90px 0 10px;}
.relational-head{padding-bottom: 45px;}
.relational-head h3{color: var(--dark-grey); letter-spacing: normal;}
.relational-row{padding-bottom: 90px;}
.relational-left p{padding-right: 31px;}
.relational-list{background-color: var(--white);}
.relational-list:nth-child(3n+1){margin-left: 0;}
.relational-content{font-weight: 500;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
   .relational-row{gap: 17px;}
    .relational-left{flex: 1; }
    .relational-right{flex: 3;}
    .relational-list{flex: 1; margin-left: 50px;}
    .relational-content{padding: 29px 33px 37px;}

}
@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .relational-module{padding: 60px 0 20px;}
    .relational-row{display: block; padding-bottom: 20px;}
    .relational-head{padding-bottom: 20px;}
    .relational-left{margin-bottom: 40px;}
    .relational-left p{padding-right: 0;}
    .relational-list{margin-bottom: 22px;}
    .relational-content{padding: 29px 33px 37px;}

}
@media only screen and (max-width: 768px) and (min-width: 200px) {
    .relational-head{padding-bottom: 0;}

}