

.repeater-content h2{font-size: 2.755rem;}
.repeater-list:last-child {margin-bottom: 0;}
.repeater-content p {margin-bottom: 20px;}
.repeater-content ul, .repeater-content ol {margin: 23px 0 28px 25px;}
.repeater-thumb img{border-radius: 50%;}


 /*-- media starts here --*/
 @media only screen and (min-width: 1024px){
    .repeater-section {padding: 73px 0 112px;}
    .repeater-wrap{max-width: 1129px; margin: 0 auto;}
    .repeater-list{gap: 148px; margin-bottom: 115px;}    
    .repeater-content{flex: 0 0 calc(100% - 706px);}
    .repeater-image{flex: 0 0 558px;}
    .repeater-thumb-wrap{ width: 528px; height: 528px;}
    .repeater-list:nth-child(odd) .repeater-image{padding-right: 30px;}
    .repeater-list:nth-child(even) .repeater-image{padding-left: 30px;} 
 }
 @media only screen and (max-width: 1299px) and (min-width: 1024px){
   .repeater-list{gap: 62px; margin-bottom: 90px;}
   .repeater-content{flex: 0 0 calc(100% - 520px);}
   .repeater-image{flex: 0 0 440px;}
   .repeater-thumb-wrap{ width: 428px; height: 428px;}
 }
 @media only screen and (max-width: 1023px) and (min-width: 768px){
  .repeater-main{padding: 89px 0 70px;}
  .repeater-list { margin-bottom: 80px; gap: 50px}
  .repeater-content{width: calc(100% - 390px);}
  .repeater-image{flex: 0 0 340px; position: relative;} 
  .repeater-thumb-wrap{ width: 340px; height: 340px; }
  .orange-line-one{width: 94px; height: 115px; top: -23px; right: 7px;}
  .orange-line-two{width: 170px; height: 226px; bottom: -33px; left: -29px;}
 }
 @media only screen and (max-width: 767px) and (min-width: 200px){
    .repeater-main{padding: 65px 0 70px;}
    .repeater-list{display: flex; margin-bottom: 67px; flex-direction: column-reverse;}
    .repeater-content{padding-bottom: 65px; width: 100%;}
    .repeater-content span{margin-bottom: 16px;}
    .repeater-content h2 {padding-right: 5px; margin-bottom: 20px;}
    .repeater-content p{margin-bottom: 16px;}
    .repeater-image{width: 100%;}
    .repeater-thumb-wrap{width: 342px; height: 342px;}
    .repeater-list:last-child{margin-bottom: 0;}
    
    .green-line-one{width: 161px; height: 193px; top: -32px; left: -10px;}
    .green-line-two{width: 47px; height: 68px; right: 94px; top: -20px;}
    .orange-line-one{width: 94px; height: 115px; top: -23px; right: 7px;}
    .orange-line-two{width: 170px; height: 226px; bottom: -33px; left: -29px;}
    .pink-line-one{width: 194px; height: 258px; top: -45px; left: -65px;}
    .pink-line-two{width: 168px; height: 219px; top: -19px; right: -27px;}
 } 
 @media only screen and (max-width: 389px) and (min-width: 200px){
  
 }