.resources-module {clear: both; width: 100%; background-color: rgb(238, 241, 251); padding: 50px 0 38px;}
.resources-module  h3 {color: var(--dark-grey); margin-bottom: 0;}
.resources-row {display: flex; flex-wrap: wrap;}

.resources-grid {width: 422px; margin: 0 0 0 50px; background: var(--white); height: inherit!important; margin-top: 50px;}
.resources-grid:nth-child(3n+1) {margin-left: 0;}
.resources-grid .resources-thumb {height:255px; overflow: hidden; transition: height 0.5s;}
.resources-grid:hover .resources-thumb {height:235px;}
.resources-grid .resources-content {padding:48px 45px;}
.resources-grid .resources-content h5 {margin-bottom: 17px;}
.resources-grid .resources-content h5, .resources-grid .resources-content h5 a {color: var(--dark-grey); text-decoration: none;}
.resources-grid .resources-content h5 a:hover {color: var(--text-violetblue);}
.resources-grid .resources-content p {margin-bottom: 12px;}


/* Responsive */
@media only screen and (max-width: 1024px) {
    .resources-grid:nth-child(-n+3){margin-top: 0;}
    
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
	
	.tiled-slider .slick-list {overflow: visible;}
	.tiled-slider .slick-track {display: flex!important;}
	.tiled-module .btn {text-align: center;}
	
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	.tiled-module {padding: 59px 0 60px;}
	.heading {padding: 0 0 31px;}
	.tiled-grid {width: 285px; margin: 0 20px 0 0;}	
	.tiled-grid .tiled-thumb {height: 226px;}
	.tiled-grid .tiled-content {padding:36px 31px 34px;}
	.tiled-grid .tiled-content h5 {margin-bottom: 18px;}
}