
.resource-heading-lt h2{margin-bottom: 0;}
.resource-heading-lt h2 span{position: relative; padding: 0 10px;}
.resource-heading-lt h2 span svg{position: absolute; left: -13px; top: -22px; z-index: -1;}
.resource-btn{padding-bottom: 13px; color: var(--pink); text-decoration: none; display: inline-block;}
.resource-btn svg{position: absolute; left: -11px; bottom: 0;}

.resource-filter{align-items: center; gap: 22px; margin-bottom: 55px;}
.resource-filter ul{margin: 0; gap: 10px; width: auto;}
.resource-filter ul > li{font-size: 1.063rem; line-height: 1.18; margin: 0; padding: 14px 25px 16px; background-color: rgba(51, 77, 181, 0.1); border-radius: 90px;}
.resource-filter ul > li::before{display: none;}
.resource-filter ul > li a{text-decoration: none; }
.resource-filter ul > li.active{background-color: var(--text-violetblue);}
.resource-filter ul > li.active a{color: var(--white);}
.resource-filter hr{flex: 1; margin: 0; background-color: rgba(0, 0, 0, 0.1); background-image: none;}

.resource-icon{max-height: 66px; margin-bottom: 20px;}
.resource-item h4{font-size: 1.875rem; line-height: 1.2;}

.resource-item.green{background-color: rgba(0, 128, 41, 0.07);}
.resource-item.orange{background-color: rgba(255, 120, 0, 0.07);}
.resource-item.red{background-color: rgba(255, 0, 0, 0.07);}
.resource-item.violet{background-color: rgba(51, 77, 181, 0.07);}
.resource-item.pink{background-color: rgba(255, 112, 128, 0.07);}

.resource-slider .slick-list{overflow: visible;}

@media screen and (min-width: 1024px) {
    .resource-main{padding: 50px 0;}
    .resource-heading{margin-bottom: 50px;}
    .resource-heading-lt{flex: 0 0 657px; margin-right: 50px;}
    .resource-heading-rt{flex: 0 0 calc(100% - 707px); margin-top: 50px;}
    .resource-heading-rt p{max-width: 422px;}
    .resource-item{width: 304px; margin-right: 50px; padding: 49px 50px;}

    .resource-slider .slick-arrow.next-arrow{right: -33px;}
    .resource-slider .slick-arrow.prev-arrow{left: -33px;}
}

@media screen and (max-width: 1460px) and (min-width: 1024px) {
    .resource-slider .slick-arrow.next-arrow{right: 0px;}
    .resource-slider .slick-arrow.prev-arrow{left: 0px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .resource-main{padding: 60px 0 81px;}
    .resource-heading{margin-bottom: 30px;}
    .resource-heading-lt{margin-bottom: 25px;}
    .resource-heading-lt .optional-text{margin: 0 0 15px 0;}
    .resource-heading-lt h2 span svg{top: -34px; width: 183px;}
}