.skew-container {padding: 95px 0 0; clear: both; width: 100%;}
	.skew-list {width:100%; display: flex;}
	.skew-lt {display: flex; flex-direction: column; transform: translateY(0) skewX(25deg); padding: 109px 46px 75px 85px;}
    .skew-list .skew-grid {width: 20%; position: relative; flex: 1; transition: min-width 0.2s, opacity 0.2s; display: flex; transform: skewX(-25deg) translateZ(0); border-left: 4px solid rgba(224, 234, 245, .5); cursor: pointer;}
	.skew-list .skew-grid .skew-thumb {opacity: 0;}
	.skew-list .skew-grid.active .skew-thumb {opacity: 1;}
	.skew-list .skew-grid.active {flex: 2; box-shadow: 0 2px 90px 0 rgba(0, 58, 112, 0.2); background-color: #fff; min-width: 634px;}
	.skew-list.minus-active {margin-left: -317px;}
	
 
  .skew-list .skew-grid:first-child {border: none;}
  .skew-list .skew-grid .skew-desc {font-size: 1.188rem; letter-spacing: -.32px; color: var(--heading); display: block; line-height: normal; margin: 0 0 18px; width: 85%}
  .skew-list .skew-grid:nth-child(3) > .skew-desc {width: 80%}
  .skew-list .skew-grid:first-child .skew-desc {width: 81%;}
	
  
  .skew-list .skew-grid .nav-logo {margin: 0 0 18px}
  .skew-list .skew-grid .nav-logo img {height: 30px; width: auto}
  .skew-list .skew-grid .txt-btn {padding: 0; font-size: inherit}
  .skew-list .skew-grid .txt-btn .icon.arrow::before {top: 2px}

  .skew-list .skew-grid.active .txt-btn .button-text {visibility:visible; opacity:1;}
  .skew-list .skew-grid.active .txt-btn .icon.arrow {transform:translate(6.3rem, 0);}
  .skew-list .skew-grid.active .txt-btn .icon.arrow::before, .txt-btn:hover .icon.arrow::before {content:"\e09f"; top:1px;}


@media only screen and (min-width: 1200px) {
	.skew-lt {width: 323px;}
}

@media only screen and (max-width: 1440px) and (min-width: 1200px){
	.skew-lt {padding: 109px 46px 75px 55px;}
	.skew-grid.active .skew-lt {padding: 109px 36px 75px 85px;}
	
}

@media only screen and (max-width: 1199px) and (min-width: 768px){
	.skew-container {padding: 7px 0 0 0;}
.skew-list {flex-wrap: wrap; justify-content: center; overflow: hidden;}
	.skew-list .skew-grid .skew-thumb {display: none;}
	.skew-list .skew-grid.active {min-width: inherit; flex: inherit; background: transparent;; box-shadow: none;}
	.skew-list .skew-lt {padding: 38px 46px 35px 35px; transform: translateY(0) skewX(15deg);}
	.skew-list .skew-grid {width: 33%; transform: skewX(-15deg) translateZ(0); flex: inherit; margin: 72px 0 0 0;}
	.skew-list .skew-grid .skew-desc {width: 100%; max-width: 212px;}
	.skew-list .skew-grid:nth-child(3n+1) {border-left: 0 none;}
	.skew-list .skew-grid:nth-child(4):before {content: ""; position: absolute; left: -100%; width: 1000%; height: 4px; background: rgba(224, 234, 245, .5); top: -39px;}
	.skew-list .skew-grid:first-child .skew-lt {padding-left: 0;}
	
	.skew-list .skew-grid .nav-logo {margin: 0 0 20px;}
	.skew-list .skew-grid .skew-desc {width: 100%; max-width:205px; margin: 0 0 15px;}
	
	.skew-list .skew-grid .txt-btn .icon.arrow {transform:none;}
	.skew-list .skew-grid .txt-btn .icon.arrow::before {content: "\f061"; top: 2px;}
	.skew-list .skew-grid .txt-btn .button-text {visibility: hidden; opacity: 0;}
	
	
	
}

@media only screen and (max-width: 1199px) and (min-width:1024px){
	.skew-container {padding: 20px 0 0 0;}
	.skew-list .skew-lt {padding: 38px 46px 35px 70px;}
	
}

@media only screen and (max-width:767px) and (min-width:200px){
	.skew-container {padding: 70px 0 0;}
	.skew-container .container-lg {padding: 0;}
	.skew-list {flex-wrap: wrap;}
	.skew-list .skew-grid {width: 100%; transform: none; align-items: center; flex: inherit; border: 0 none; margin: 0 0 40px 0; cursor: inherit;}
	.skew-list .skew-grid:nth-child(2n) {flex-direction: row-reverse;}
	
	.skew-list .skew-grid .skew-thumb {opacity: 1; height: 100%; clip-path: polygon(31% 0%, 100% 0, 100% 100%, 0% 100%); width: calc(100% - 53.6%); position: relative; max-width: 192px; margin-left: auto;}
	.skew-list .skew-grid:first-child .skew-thumb figure::before {background-color: rgba(196, 31, 62, 0.5);}
	
	.skew-list .skew-grid .skew-thumb figure::before {content: ""; position: absolute; width: 20px; height: calc(100% + 100px); background-color: rgba(0, 85, 184, 0.4); left: 20px; z-index: 1; transform: rotate(15deg); top: -13px;}
	
	.skew-list .skew-grid:nth-child(2n) .skew-thumb {clip-path: polygon(0% 0%, 73.2% 0, 100% 100%, 0% 100%); right: inherit;
		left: 0; margin-right: auto; margin-left: inherit;}
	.skew-list .skew-grid:nth-child(2n) .skew-thumb figure::before {right: 18px; transform: rotate(-13.2deg); top: -13px; left: inherit;}
	.skew-list .skew-grid:nth-child(3) .skew-thumb figure::before {background-color: rgba(97, 176, 188, 0.5);}
	
	.skew-list .skew-grid .nav-logo img {height: 24px;}
	.skew-lt {transform: none; padding:39px 20px; width: 53.6%;}
	.skew-list .skew-grid .skew-desc {font-size: 1.063rem; font-weight: 300;letter-spacing: -0.28px; margin: 0 0 12px; width: 100% !important; max-width: 169px;}
	
}