.split-banner-section{background-color: var(violet); z-index: 1; clear: both; position: relative; width: 100%; padding: 222px 0 0;}
.split-banner-main{  justify-content:  space-between;}
.split-banner-text h1 {margin-bottom: 24px;}
.optional-text{margin-bottom: 15px;}
.split-banner-section{z-index: 1; clear: both; position: relative; width: 100%; padding: 120px 0 0 0; background:var(--violet); margin: 0 0 37px 0;}
.split-banner-section .split-banner-main {justify-content:space-between; position: relative; min-height: 578px; align-items: center; padding: 40px 0; max-width: 1229px; margin: 0 auto;}
.split-banner-section .split-banner-txt {width: 36%; margin:0 0 3px 0; color: var(--white); padding-left: 37px;}
.split-banner-section .split-banner-txt .optional-text {color:var(--white-50); margin-bottom: 6px;}
.split-banner-section .split-banner-txt h1 {color: var(--white); margin-bottom: 18px;}
.split-banner-section .split-banner-txt h1 span{font-size: 7.25rem; line-height: 6rem; margin-left: -3px; color: var(--pink); font-family: CCSignLanguage; letter-spacing: normal; font-weight: normal;}
.split-banner-section .split-banner-txt p {font-size: 1.125rem; line-height: 1.39; font-weight: 600;}
.split-banner-section .split-banner-image {width: 64%; height: 428px;}
.split-banner-section .split-banner-image .split-banner-bg img{width: 783px; height: 429px;}
.split-banner-wrap .split-banner-one{width: 184px; height: 184px; left: 67px; top: -8px;}
.split-banner-wrap .split-banner-two{width: 164px; height: 164px; right: 0; top: 0;}
.split-banner-wrap .split-banner-three{width: 164px; height: 164px; bottom: 0; left: 0;}
.split-banner-wrap .split-banner-four{width: 197px; height: 197px; bottom: 0; right: 0;}
/* .split-banner-wrap img{border-radius: 50%;} */

.split-banner-wrap {max-width: 1700px; margin: 0 auto;}

/*-- media starts here --*/
@media only screen and (max-width: 1160px) and (min-width:1024px){
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
	.split-banner-section {padding: 80px 0 0 0;}
	.split-banner-section .split-banner-main {align-items: flex-start; min-height: inherit; padding:57px 0 0;}
	.split-banner-section .split-banner-main .split-banner-txt, .split-banner-section.reverse .split-banner-main .split-banner-txt {width: 100%; margin: 0 0 67px 0;}
	.split-banner-section.reverse .split-banner-main .split-banner-txt {margin: 0 0 61px 0;}
	.split-banner-section .split-banner-main .split-banner-txt .optional-text {margin: 0 0 10px 0;}
	.split-banner-section .split-banner-main .split-banner-txt p {margin-bottom: 18px;}
	.split-banner-section .split-banner-main .split-banner-image .banner-img {position: relative; width: 337px!important; height: 337px!important; left: 0; right: 0; margin: auto; bottom: -33px;}
	.split-banner-section .split-banner-main .split-banner-image {width: 100%; margin: -50px 0 0 0;}
	
}

@media only screen and (max-width: 1023px) and (min-width:768px){
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	
}