.subscribe-module {clear: both; width:100%; padding: 50px 0;}
.subscribe-main {max-width: 1186px; margin: 0 auto; justify-content: space-between;}
.subscribe-main .optional-text {color: var(--orange);}
.subscribe-main .sub-lt {width: 45%;}
.subscribe-main .sub-rt {width: calc(100% - 55.84%);}
.subscribe-main .sub-rt .disclaimer p {font-size: 0.813rem; line-height: 1.31; color: rgba(26, 21, 100, 0.6);}

/*-- media css starts here --*/


@media only screen and (min-width: 1024px) {
    
}

@media only screen and (max-width: 1400px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
   
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    
}