.support-module {clear: both; width: 100%; padding: 46px 59px 49px 59px;margin: 60px 0;}
.support-lt {width: 80px; margin: 0 7.2% 0 0;}
.support-lt img {width: 79px;}

.support-rt {width: calc(100% - 30%); flex-grow: 1;}
.support-rt p {margin-bottom: 16px;}



/*-- media starts here --*/
@media only screen and (max-width: 1299px) and (min-width:1024px){
	
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
	
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .support-module { clear: both; width: calc(100% + 44px); padding:20px 20px 33px 20px; margin: 60px 0 40px; position: relative; left: -22px; }
    .support-lt { width: 60px; margin: -158px 7.2% 0 0; }
    .support-rt { width: calc(100% - 30%); flex-grow: 1; margin-top: 15px; }
}