@import url("../css/_no-banner.css");
@import url("../css/_featue-panel-section.css");

.calendar-container {clear: both; position: relative; z-index: 1; padding: 50px 0;}
.heading-lt {width: 69.1%;}
.heading-lt h3 {color: var(--black);}
.heading-rt {width:calc(100% - 69.1%);}
.heading-rt .form-field {width: 100%;}

.calendar-main {justify-content: space-between;}
.calendar-lt {width:65.45%;}
.single-news {margin-bottom: 20px; display: flex; flex-wrap: wrap; align-items: stretch;}
.single-news .news-thumb {width:304px;}
.single-news .news-thumb img {width: 100%; height: 100%; font-family: "object-fit: cover"; -o-object-fit: cover;
object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out; -o-transition: opacity .5s ease-in-out;}
.single-news .news-thumb img:hover {opacity: 0.8;}
.single-news .news-content {background: var(--light-grey); width: calc(100% - 304px); padding:60px 69px 60px 71px; flex-grow: 1;}
.single-news .news-content h4 {margin: 0; font-weight: 500; line-height: 1.33; font-size: 1.5rem; padding: 0 20px 0 0;}
.single-news .news-content h4 a {text-decoration: none; color: var(--h4);}
.single-news .news-content h4 a:hover {color:var(--text-violetblue);}
.single-news .news-content .cat-wrap {border-bottom: 2px solid var(--white); padding: 0 0 16px 0; margin: 0 0 17px 0;}
.single-news .news-content .cat-wrap .cat-date {margin: 7px 0 0 0;}

.calendar-lt .btn {text-align: center; margin: 50px 0 0 0;}
.calendar-lt .btn .button {min-width: 177px;}
.calendar-lt .btn .button:after {content: "\f107";}
.calendar-lt .btn .button:hover::after {animation-name: bounceAlphadown; animation-duration: 1.4s; animation-iteration-count: infinite;  animation-timing-function: linear;}

.calendar-sidebar {width: calc(100% - 69.1%);}
.side-bucket {padding: 58px 78px 62px 64px;}
.side-bucket .optional-text{color: var(--white-20:);}
.side-bucket a {text-decoration: none;}
.side-bucket.violetblue {background: var(--violetblue); color: var(--white);}
.side-bucket.violetblue h4 {color: var(--white);}

/*-- media css starts here --*/
@media only screen and (max-width: 1160px) and (min-width: 1024px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	
}
@media only screen and (max-width: 767px) and (min-width: 200px) {
	
}
