@import url("../css/_no-banner.css");
@import url("../css/_featue-panel-section.css");
@import url("../css/_split-module.css");
@import url("../css/_nav-filter-module.css");

.calendar-container {clear: both; position: relative; z-index: 1; padding: 50px 0;}
.heading {padding: 0 0 26px;}
.heading-lt {width: 50%;}
.heading-lt h3 {color: var(--black);}
.heading-rt {width:calc(100% - 50%);}
.heading-rt .search-form {max-width: 422px;}
.heading-rt .form-field {width: 100%;}


.single-news {margin-bottom: 20px; display: flex; flex-wrap: wrap; align-items: stretch;}
.single-news .news-thumb {width:304px;}
.single-news .news-thumb img {width: 100%; height: 100%; font-family: "object-fit: cover"; -o-object-fit: cover;
object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out; -o-transition: opacity .5s ease-in-out;}
.single-news .news-thumb img:hover {opacity: 0.8;}
.single-news .news-content {background: var(--light-grey); width: calc(100% - 304px); padding:60px 69px 60px 71px; flex-grow: 1;}
.single-news .news-content h4 {margin: 0; font-weight: 500; line-height: 1.33; font-size: 1.5rem; padding: 0 20px 0 0;}
.single-news .news-content h4 a {text-decoration: none; color: var(--h4);}
.single-news .news-content h4 a:hover {color:var(--text-violetblue);}
.single-news .news-content .cat-wrap {border-bottom: 2px solid var(--white); padding: 0 0 16px 0; margin: 0 0 17px 0;}
.single-news .news-content .cat-wrap .cat-date {margin: 7px 0 0 0;}

.split-lt .btn {text-align: center; margin: 50px 0 0 0;}
.split-lt .btn .button {min-width: 177px;}
.split-lt .btn .button:after {content: "\f107";}
.split-lt .btn .button:hover::after {animation-name: bounceAlphadown; animation-duration: 1.4s; animation-iteration-count: infinite;  animation-timing-function: linear;}

.calendar-wrap {margin: -25px 0 0 0;}
.sidebar {margin: 91px 0 0 0;}


/*-- media css starts here --*/
@media only screen and (max-width: 1299px) and (min-width: 1024px) {
	.single-news .news-content {padding: 60px 40px 60px 40px;}
	.single-news .news-content .cat-wrap .tag-links {width: 65%;}
	.single-news .news-content .cat-wrap .cat-date {width: calc(100% - 65%);}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	
	.single-news .news-content {padding: 60px 40px 60px 40px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px) {
	.calendar-container {padding:67px 0 60px;}
	.calendar-wrap {margin: 0;}
	.heading {padding: 0 0 28px;}
	.heading-lt {width: 100%; margin: 0 0 16px 0;}
	.heading-rt {width: 100%;}
	.heading-rt .search-form {max-width: 100%;}
	.single-news  {padding: 20px 20px 19px; background: var(--light-grey);}
	.single-news .news-thumb {width: 75px; height: 72px;}
	.single-news .news-content {padding: 0 0 0 20px; width: calc(100% - 75px);}
	.single-news .news-content h4 {font-size: 0.938rem; line-height: 1.47; padding: 0;}
	.single-news .news-content .cat-wrap {border: 0 none; padding: 0; margin: 0 0 11px 0;}
	.cat-date {width: 100%; text-align: left; margin: 9px 0 0 0;}
	
	.sidebar {margin: 0;}
	.split-lt .btn {margin: 30px 0 0 0;}
	
	
}

