@import url("../css/_hero-banner.css");
@import url("../css/_short-intro-section.css");
@import url("../css/_career-optional-slider.css");

@import url("../css/_tiled-module.css");
@import url("../css/_testimonial-section.css");
@import url("../css/_grid-section.css");


.career-shape-1 {width: 287px; height: 342px; top: -32px; left: -23px;}
.career-shape-2 {width: 83px; height: 119px; right: 160px; top: -45px;}
.short-intro-section { padding: 65px 0 103px; }