@import url("../css/_community-section.css");
@import url("../css/_common-cta-section.css");
@import url("../css/_hero-banner.css");
@import url("../css/_intro-col-module.css");

.community-default-shape-4 {width: 180px; height: 206px; top: -37px; right: -10px;}
.community-default-shape-5 {width: 323px; height: 304px; bottom: -17px; left: -50px;}

.intro-col-module {padding: 83px 0 101px 0}
.intro-col-module .container-md {max-width: 1130px;}
.intro-col-lt {margin: 0 8.3% auto 0;}
.intro-col-rt {padding: 0;}
.intro-col-thumb {margin: 0 0 60px 0; clear: both; width: 100%;}
.intro-lt-details {font-weight: 500; color: var(--black);}

.intro-lt-details .address {margin: 0 0 38px 0;}
.intro-lt-details .address strong {font-weight: 600;}
.intro-lt-details .address p {margin-bottom: 17px;}
.intro-lt-details .address p:first-child {max-width: 190px;}
.intro-lt-details .address p a {text-decoration: underline;}
.intro-lt-details .address p span {display: block; padding: 0 0 0 28px; margin: 0 0 3px 0;}
.intro-lt-details .address p span i {position: absolute; left: 0; font-size: 14px; color: var(--text-violetblue); top: 7px;}


ul.social-icons {margin: 0;}
ul.social-icons li {display: inline-block; margin: 0 10px 0 0;}
ul.social-icons li:before {display: none;}
ul.social-icons li a {width: 34px; height: 34px; font-size: 0.825rem; line-height: 1.5; color: var(--h4); position: relative; z-index: 1; text-decoration: none;}
ul.social-icons li a::before {width: 100%; height: 100%; border-radius:50%; background-color:rgb(238, 241, 251); content: ""; position: absolute; z-index: -1; transition: all .3s ease-in-out;}
ul.social-icons li a:hover::before {background:var(--text-violetblue);}
ul.social-icons li a:hover {color: var(--white);}


/* community section start*/
.community-grid{background-color: #eef1fb; clear: both; width: 100%;}
.community-wrap{padding: 90px 0 100px;}
/* community section  end*/




@media screen and (max-width:1023px) and (min-width: 200px) {
	.intro-col-lt {margin: 0 0 50px 0;}
}

@media screen and (max-width:1023px) and (min-width: 768px) {
	.community-wrap {padding: 90px 0 70px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .community-wrap{padding: 60px 0 30px;}
	.community-default-shape-4 {width: 115px; height: 115px; top: -21px; right: -12px;}
	.community-default-shape-5 {width: 180px; height: 180px; bottom: -15px; left: -29px;}
	
	.intro-col-module {padding: 57px 0 61px 0;}
	.intro-lt-details .address {margin: 0 0 30px 0;}
	.intro-col-lt {margin: 0 0 40px 0;}
	.intro-col-thumb {margin: 0 0 39px 0;}
}