@import url("../css/_media-news-section.css");

.confirmation-wrap{padding: 159px 0 152px;}
.tick-icon{font-size: 79px; color: var(--heading); margin-top: 46px;}
.confirmation-icon{margin-right: 36px;}
.confirmation-content p{font-size: 1.375rem; line-height: 1.41; letter-spacing: -0.82px; color: var(--heading); max-width: 655px; margin-bottom: 30px;}


/* Media css */
@media screen and (min-width:1024px) {
    .banner-bg{top: -211px; left: 80px;}
    .banner-bg figure{width: 1451px;}
    .confirmation-main{max-width: 953px; margin: 0 auto;}
    .confirmation-icon{margin-right: 39px; width: 80px;}
    .confirmation-content{width: calc(100% - 119px);}
    .confirmation-content h1{margin-bottom: 20px;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .confirmation-wrap{padding: 69px 0 71px;}
    .tick-icon{font-size: 87px; margin: 0 0 33px 0;}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .banner-bg{top: 80px; left: -116px;}
    .banner-bg figure{width: 834px;}
    .confirmation-wrap{padding: 69px 0 71px;}
    .tick-icon{font-size: 87px; margin: 0 0 33px 0;}
    .confirmation-content .optional-text{margin: 0 0 22px 0;}
    .confirmation-content h1{font-size: 2.688rem; letter-spacing: -1.84px; margin-bottom: 27px;}
    .confirmation-content p{font-size: 1.125rem; line-height: 1.56; letter-spacing: -0.67px; color: #1a1919; max-width: 100%; margin-bottom: 25px;}
  
}