@import url("../css/_two-paths-module.css");
@import url("../css/_no-banner.css");


.confirmation-container {clear: both; width: 100%;}
.two-paths-module {padding-top: 24px;}
.two-paths-module  hr {margin-top: 0;}


footer#main_footer {border-top:1px solid rgba(0, 0, 0, 0.1);}


/*-- media css starts here --*/
@media only screen and (max-width: 1299px) and (min-width: 1024px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	
}
@media only screen and (max-width: 767px) and (min-width: 200px) {
	.two-paths-module hr {display: none;}
}