@import url("../css/_hero-banner.css");
/* Banner */
.optional-text{margin: 0 0 15px 0;}

/* Contact section */
.contact-section{clear: both;}
.contact-wrap{border-bottom: solid 3px rgba(136, 157, 180, 0.2);}

body .frm_forms.frm_combo_inputs_container, 
body .frm_forms .frm_grid_container,
body .frm_forms .frm_section_heading, 
body .frm_forms .frm_fields_container{display: block;}
body .frm_forms .frm_form_field{position: relative;}
body .frm_form_field{margin-bottom: 20px;}
body .frm_style_formidable-style.with_frm_style .frm_none_container .frm_primary_label{display: none;}
body .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="text"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="password"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="url"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="tel"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="number"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="email"], .frm_style_formidable-style.with_frm_style .frm_blank_field textarea, .frm_style_formidable-style.with_frm_style .frm_blank_field .mce-edit-area iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field select:not(.ui-datepicker-month):not(.ui-datepicker-year), .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-single .chosen-single, .frm_style_formidable-style.with_frm_style .frm_form_field :invalid{background-color: rgba(255,255,255,.13); border-color: transparent;}
body .frm_style_formidable-style.with_frm_style input::placeholder, body .frm_style_formidable-style.with_frm_style input::-webkit-input-placeholder, body .frm_style_formidable-style.with_frm_style input::-moz-placeholder, body .frm_style_formidable-style.with_frm_style input:-ms-input-placeholder, body .frm_style_formidable-style.with_frm_style textarea::placeholder, body .frm_style_formidable-style.with_frm_style textarea::-webkit-input-placeholder, body .frm_style_formidable-style.with_frm_style textarea::-moz-placeholder, body .frm_style_formidable-style.with_frm_style textarea:-ms-input-placeholder{color: var(--white-50); font-family: 'Poppins-Light', sans-serif; opacity: 1;}
body .frm_style_formidable-style.with_frm_style .frm_error::after{font-family: "Font Awesome 6 Pro"; font-weight: 400; content: "\f06a"; font-size: 14px; line-height: normal; color: #f00000; position: absolute; right: 18px; top: 19px;}
body .frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus{color: var(--body-text);}
body .frm_style_formidable-style.with_frm_style .frm_form_field :invalid{color: #f00000; border: solid 1px #d9e0e7;}
body .selectBox-dropdown .selectBox-label{padding: 0; display: block; color: var(--body-text);}
body .selectBox-dropdown.selectBox-active .selectBox-label{color: var(--body-text);}
body .selectBox-dropdown .selectBox-arrow{border-left: none;}
body .frm_style_formidable-style.with_frm_style textarea:focus{color: var(--body-text);}
body .selectBox .selectBox-dropdown:focus label{color: var(--body-text);}
body .frm_screen_reader{font-size: 1.813rem; font-weight: bold; letter-spacing: -0.48px; color: var(--heading); margin-bottom: 19px; line-height: normal;}
body .frm_fields_container p { font-size: 0.75rem; line-height: 1.67; letter-spacing: -0.35px; color: var(--light-blue); }


.default-banner-section .hero-banner-main .hero-banner-image .banner-img img{clip-path: none;}

@media screen and (min-width: 1024px) {
    .default-banner-section .hero-banner-main .hero-banner-image .banner-img{position: absolute; left: 0; height: 100%; width: 100%; display: inline-flex; max-width: 100%; top: auto; right: auto; align-items: normal;}
    .default-banner-section .hero-banner-main{min-height: 473px;}

    .banner-bg { top: -112px; left: 423px; }
    .banner-bg figure {width: 1779px;}

    .contact-wrap{padding: 166px 0 88px;}
    .contact-accordion{flex: 0 0 460px; margin-right: 127px;}
    .contact-form{width: calc(100% - 587px);}

    body .frm_forms .frm_form_field.frm_half{width: calc(50% - 10px); margin-left: 10px; margin-right: 10px; float: left; clear: none;}
    body .frm_forms .frm_form_field.frm_half.frm_first{margin-left: 0;}
    body .frm_forms .frm_form_field.frm_half.frm_last{margin-right: 0;}
    body .frm_forms .frm_form_field.frm_third{width: calc(32.777% - 16px); margin-left: 16px; margin-right: 16px; float: left; clear: none;}
    body .frm_forms .frm_form_field.frm_third.frm_first{margin-left: 0;}
    body .frm_forms .frm_form_field.frm_third.frm_last{margin-right: 0;}
    
}

@media screen and (max-width: 1299px) and (min-width: 1024px){
    .contact-accordion{flex: 0 0 400px; margin-right: 50px;}
    .contact-form{width: calc(100% - 450px);}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    
.default-banner-section .hero-banner-main .hero-banner-image .banner-img{position: absolute; left: 0; height: 100%; width: 100%; display: inline-flex; max-width: 100%; top: auto; right: auto; align-items: normal;}
    .default-banner-section .hero-banner-main{min-height: 316px; align-items: normal; padding: 100px 0 0; flex-direction: row-reverse}

    .banner-bg{height: 505px;}
    .banner-bg img{top: -55px; left: 100px; width: 1005px; height: 585px;}
    .contact-wrap{padding: 158px 0 79px;}
    .contact-accordion{width: 100%; margin-bottom: 71px;}
    .contact-form{width: 100%;}
    body .frm_screen_reader{margin-bottom: 24px;}
    
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .banner-bg{top: -71px; left: -173px;}
    .banner-bg figure{width: 1005px;}
    .optional-text{margin: 0 0 17px 0;}
    .contact-wrap{padding: 159px 0 79px;}
    .contact-accordion{width: 100%; margin-bottom: 71px;}
    .contact-form{width: 100%;}
    body .frm_screen_reader{margin-bottom: 24px;}
    
}
