@import url("../css/default-page.css");



.donate-grid-main{}
.donate-grid-row{}
.donate-grid-list{ padding: 44px 50px; position: relative; -webkit-transition: background-color 500ms linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;}
.donate-grid-svg{position: absolute; opacity: 0;}
.donate-grid-list:hover .donate-grid-svg{opacity: 1;}
.donate-grid-svg-1{top: 0; left: 0;}
.donate-grid-svg-2{top: 0; right: 0;}
.donate-grid-list::before{display: none;}
.donate-grid-list.light-blue{background-color: var(--light-blue);}
.donate-grid-list.light-green{background-color: var(--light-green);}
.donate-grid-list.light-pink{background-color: var(--light-pink);}
.donate-grid-list.light-red{background-color: var(--light-red);}
.donate-grid-list.light-orange{background-color: var(--light-orange);}
.donate-grid-list.light-violet{background-color: var(--light-violet);}
.donate-grid-list:hover {color: var(--white);  }
.donate-grid-list:hover .readmore{color: var(--white);}
.donate-grid-list:hover h5{color: var(--white);}
.donate-grid-list.light-blue:hover {background-color: var(--text-violetblue);}
.donate-grid-list.light-green:hover {background-color: var(--green);}
.donate-grid-list.light-pink:hover {background-color: var(--pink);}
.donate-grid-list.light-orange:hover {background-color: var(--orange);}
.donate-grid-list.light-red:hover {background-color: var(--red);}
.donate-grid-list.light-violet:hover {background-color: var(--violet);}
.donate-grid-list:hover  .outline-btn{background: var(--white); border-color: var(--white);}
.donate-grid-list:hover  .outline-btn.text-violetblue{ color: var(--text-violetblue);}
.donate-grid-list:hover  .outline-btn.green{color: var(--green);}
.donate-grid-list:hover  .outline-btn.pink{color: var(--pink);}
.donate-grid-list:hover  .outline-btn.red{color: var(--red);} 
.donate-grid-list:hover  .outline-btn.orange{color: var(--orange);}
.donate-grid-list:hover  .outline-btn.violet{color: var(--violet);} 
 

/*-- media css starts here --*/

@media only screen and (min-width: 1024px) {
    .donate-grid-row{gap: 50px}
    .donate-grid-list{flex: 0 0 calc(33.33% - 34px)}
    .donate-btns{gap: 20px;}


}