@import url("../css/_hero-banner.css");
@import url("../css/_intro-here-module.css");
@import url("../css/_features-module.css");
@import url("../css/_programs-default-slider.css");
@import url("../css/_intro-module.css");
@import url("../css/_number-section.css");
@import url("../css/_repeater-section.css");
@import url("../css/_donation-section.css");

.hero-banner-section {background: var(--violetblue);}
.hero-banner-section .hero-banner-main .hero-banner-txt {width: 51%;}
.hero-banner-section .hero-banner-main .hero-banner-txt h1 {margin-bottom: 22px;}
.hero-banner-section .hero-banner-main .hero-banner-txt h1 span{font-size: 7.25rem; line-height: 6rem; color: var(--pink); font-family: CCSignLanguage; font-weight: normal; display: block; transform: rotate(-1.25deg); margin: -4px 0 0 -3px;}
.hero-banner-section .hero-banner-main .hero-banner-txt p {max-width: 450px;}
.hero-banner-section .hero-banner-main .hero-banner-image {width: 46%;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {position: absolute; width:auto; height: auto; bottom: -71px; right: -102px;}

.ellipse {border-radius: 50%; border-style: solid; border-width: 54px;}
.ellipse-red {border-color: var(--red);}
.ellipse-orange {border-color: var(--orange); border-width: 56px;}
.ellipse-green {border-color: var(--green);}
.ellipse-pink {border-color: var(--pink); border-width: 56px;}
.ellipse-icon {width: 152px; height: 152px; align-items: center; justify-content: center;}
.ellipse-icon img {width:96px; height:88px; border-radius:0!important;}

.features-module{padding: 50px 0 58px;}
.intro-here-module{padding: 92px 0 25px;}
.programs-default-slider{padding: 0;}


@media screen and (max-width: 767px) and (min-width: 200px) {
    .intro-module{padding: 52px 0 0;}
    .features-module{padding: 50px 0 20px;}
    .features-module-grid .features-txt p { padding-right: 0; }
    .intro-here-module { padding: 60px 0 25px; }
    .programs-default-slider{padding: 0;}
    .repeater-main { padding: 28px 0 60px; } 
    .repeater-content { padding-bottom: 27px;}
    .programs-default-slider{padding: 0;}
}