@import url("../css/_intro-module.css");
@import url("../css/_split-banner.css");



.donate-grid-row{}
.donate-grid-list{  position: relative; -webkit-transition: background-color 500ms linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;}
.donate-grid-svg{position: absolute; opacity: 0;}
.donate-grid-list:hover .donate-grid-svg{opacity: 1;}
.donate-grid-svg-1{top: -47px; left: -34px; width: 93px; height: 140px;}
.donate-grid-svg-2{top: -30px; right: -20px; width: 88px; height: 104px;}
.donate-grid-list h5{position: relative; z-index: 1;}
.donate-grid-list::before{display: none;}
.donate-grid-list.light-blue{background-color: var(--light-blue);}
.donate-grid-list.light-green{background-color: var(--light-green);}
.donate-grid-list.light-pink{background-color: var(--light-pink);}
.donate-grid-list.light-red{background-color: var(--light-red);}
.donate-grid-list.light-orange{background-color: var(--light-orange);}
.donate-grid-list.light-violet{background-color: var(--light-violet);}
.donate-grid-list:hover {color: var(--white);  }
.donate-grid-list:hover .readmore{color: var(--white);}
.donate-grid-list:hover h5{color: var(--white);}
.donate-grid-list.light-blue:hover {background-color: var(--text-violetblue);}
.donate-grid-list.light-green:hover {background-color: var(--green);}
.donate-grid-list.light-pink:hover {background-color: var(--pink);}
.donate-grid-list.light-orange:hover {background-color: var(--orange);}
.donate-grid-list.light-red:hover {background-color: var(--red);}
.donate-grid-list.light-violet:hover {background-color: var(--violet);}
.donate-grid-list:hover  .outline-btn{background: var(--white); border-color: var(--white);}
.donate-grid-list:hover  .outline-btn.text-violetblue{ color: var(--text-violetblue);}
.donate-grid-list:hover  .outline-btn.green{color: var(--green);}
.donate-grid-list:hover  .outline-btn.pink{color: var(--pink);}
.donate-grid-list:hover  .outline-btn.red{color: var(--red);} 
.donate-grid-list:hover  .outline-btn.orange{color: var(--orange);}
.donate-grid-list:hover  .outline-btn.violet{color: var(--violet);} 
 
footer#main_footer {border-top: 1px solid rgba(0, 0, 0, 0.1);}
/*-- media css starts here --*/

@media only screen and (min-width: 1024px) {
    .donate-grid-main{padding: 24px 0 49px 0;}
    .donate-grid-row{gap: 50px}
    .donate-grid-list{flex: 0 0 calc(33.33% - 34px); padding: 44px 50px;}
    .donate-btns{gap: 20px;}

    .split-banner-section .split-banner-image{margin: -50px -50px 0 0;}

}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .donate-grid-main{padding-top: 24px;}
    .donate-grid-row {gap: 25px;}
    .donate-grid-list {flex: 0 0 calc(33.33% - 17px); padding: 30px 25px;}
    .donate-grid-svg-1{top: -47px; left: -34px; width: 60px; height: 85px;}
    .donate-grid-svg-2{top: -30px; right: -20px; width: 68px; height: 84px;}
    .donate-btns {gap: 8px;}
    .donate-btns .button{padding: 7px 27px 12px 14px;}
    .donate-btns .button::after{top: -1px; right: 13px;}

    .split-banner-section .split-banner-txt {width: 35.8%;}
    .split-banner-section .split-banner-image{margin: -50px 0 0; width: 64.2%;}
    
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .donate-grid-list:hover .donate-grid-svg{display: none;}
    .donate-grid-row{gap: 30px;}
    .donate-grid-list{flex: 0 0 calc(50% - 15px); padding: 30px 25px;}
    .donate-btns {gap: 32px;}
    .donate-btns .button{padding: 7px 27px 12px 14px;}
    .donate-btns .button::after{top: -1px; right: 13px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .donate-grid-list:hover .donate-grid-svg{display: none;}
    .donate-grid-row{display: block;}
    .donate-grid-list{margin-bottom: 22px; padding: 30px 30px 32px;}
    .donate-grid-list p{font-size: 0.875rem; line-height: 1.375rem;}
    .donate-btns {gap: 24px;}
    .donate-btns .button{padding: 10px 34px 12px 23px; font-size: 0.938rem;}
    .donate-btns .button::after{top: -1px; right: 15px;}

}