@import url("../css/_common-cta-section.css");
@import url("../css/_hero-banner.css");
@import url("../css/_intro-col-module.css");
@import url("../css/_directors-section.css");
@import url("../css/_community-grid-module.css");
@import url("../css/_annual-report-module.css");



.hero-banner-section {margin:0 0 77px 0;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {width: 599px; height: 599px; bottom: -47px;}
.hero-banner-section .hero-banner-main .hero-banner-txt p {margin-bottom: 18px;}
.governance-shape-1 {width: 336px; height: 185px; top: -48px; right: 8px;}
.governance-shape-2 {width: 488px; height: 472px; bottom: -49px; left: -84px;}
.governance-shape-3 {width: 283px; height: 244px; bottom: 18px; right: -98px;}

.community-grid-module {padding: 19px 0 98px;}
.annual-report-module {margin: 0 0 27px 0;}



@media screen and (min-width: 1024px) {
	.hero-banner-section.reverse .hero-banner-main .hero-banner-txt { margin: 8px 0 3px 3%;}
}

@media only screen and (max-width: 1299px) and (min-width:1024px){
	.intro-col-module { padding: 25px 0 52px 0;}
}	
@media screen and (max-width: 1023px) and (min-width: 768px) {
	.community-grid-module { padding: 19px 0 60px; }
	
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
	.hero-banner-section {margin: 0 0 32px 0;}
	.hero-banner-section .hero-banner-main .hero-banner-image .banner-img {bottom: -39px;}
	.governance-shape-1 {width: 187px; height: 103px; top: -27px; right: 8px;}
	.governance-shape-2 {width: 270px; height: 264px; bottom: -27px; left: -46px;}
	.governance-shape-3 {width: 171px; height: 132px; bottom: 12px; right: -57px;}
	
	.intro-col-module {padding: 57px 0 12px 0;}
	
	
	
}
@media screen and (max-width: 767px) and (min-width: 200px) {
	.community-grid-module {padding: 19px 0 24px;}

}