@import url("_banner-section.css");
@import url("_home-about-banner.css");
@import url("_common-intro-section.css");
@import url("_build-future-section.css");
@import url("_repeater-section.css");
@import url("_media-news-section.css");
@import url("_where-we-work.css");
@import url("_product-catalog-module.css");
@import url("_skew-section.css");



.common-intro-image {max-height: 385px;}
.common-intro-image img {clip-path: polygon(0 0, 100% 0, 68.9% 100%, 0% 100%);}
.common-intro-thumb::after {display: none;}
.common-intro-text span {margin-bottom: 17px;}

.product-catalog-section {background: var(--white);}
.product-catalog-text {background-color: var(--light-bluebg);}





@media only screen and (min-width: 1024px){
	.common-intro-image {flex: 0 0 688px;}
	.product-catalog-main::before {background-color: var(--light-bluebg);}
}

@media only screen and (max-width: 1699px) {
	.common-intro-text h2 {font-size: 2.188rem;  letter-spacing: -0.58px;max-width: 640px; margin: 0 0 26px auto;}
	
	
}

@media only screen and (max-width: 1699px) and (min-width: 1300px){
	.common-intro-text {flex: 0 0 calc(100% - 720px);}
}

@media only screen and (max-width: 1299px) and (min-width: 1024px){	
	.common-intro-image {flex: 0 0 413px;}
	.common-intro-text {flex: 0 0 calc(100% - 447px);}
}

@media only screen and (max-width: 1023px) and (min-width:768px){
	.common-intro-image {max-width: 687px;}
	.common-intro-text {padding: 77px 30px 0 0;}
	.common-intro-text h2 strong {display: inline-block;}
}

@media only screen and (max-width: 767px) and (min-width:200px){
	.common-intro-image {max-width: 356px; height: 197px;}
	.common-intro-image img {object-position: 0 0; clip-path: polygon(0 0, 100% 0, 68.2% 100%, 0% 100%);}
	.common-intro-text h2 strong {display: inline;}
	.common-intro-text h2 {font-size: 2rem; letter-spacing: -0.53px; margin: 0 0 25px auto;}
	.common-intro-text span {margin-bottom: 22px;}
	
}