@import url("_cta-panel-section.css");

/* Banner section */
.hero-banner-main{flex-direction: row-reverse;}
/*.leadership-banner-bg{clip-path: none; height: calc(100% - 75px);}
.leadership-banner-image img{clip-path: polygon(0 0, 100% 0, 71% 100%, 0 100%);}
.leadership-banner-text{color: #8fd5df;}
 .home-banner-text span{ margin-bottom: 18px;}
.leadership-banner-text h1{color: var(--white); margin-bottom: 18px;}*/

/* Innovative section */
.leadership-innovative-main{padding: 36px 0 90px 0;}
.leadership-innovative-text span{display: block; color: var(--small); font-weight:bold; font-size: 1.375rem; letter-spacing: -0.37px; margin-bottom: 18px;}
.leadership-innovative-text h2{color: var(--heading); margin-bottom: 20px; font-weight: normal;}
.leadership-innovative-text p{font-size: 1rem; line-height: 1.563rem; letter-spacing: -0.63px; margin-bottom: 25px;}
.innovative-desc p{font-size: 1.375rem; font-weight: bold; letter-spacing: -0.37px; margin-bottom: 0;}
.innovative-desc p a{color: var(--heading);}
span.innovative-position{font-size: 0.75rem; line-height: 1.263rem; letter-spacing: 0.75px; font-weight: 600; color: #73a3cf; text-transform: uppercase; display: block;}
span.innovative-position a{color:  #73a3cf;}

/* leadership page section */
.leadership-page-main{padding: 90px 0;  border-top: 3px solid rgba(136, 157, 180, 0.2);}
.leadership-page-thumb{position: relative;}
.leadership-page-thumb::after{width: 100%; height: 0; bottom: 0; left: 0; content:""; display: block; position: absolute; background-color: var(--anchor-hover); clip-path: polygon(0 43%, 100% 79%, 100% 100%, 0 65%); opacity: 0.4; transition-duration: .5s; transition-timing-function: cubic-bezier(0.175,0.885,0.32,1.275); transition-property: all;}
.leadership-page-thumb:hover::after{height: 115px;}
.leadership-page-thumb img{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);}
.leadership-page-text p{font-size: 1.375rem; line-height: normal; font-weight: bold; letter-spacing: -0.37px; color: #003a70; margin-bottom: 0; }
.leadership-page-text p a{color: var(--heading)}
span.leadership-position{font-size: 0.75rem; font-weight: 600; line-height: 1.263rem; letter-spacing: 0.75px; margin-bottom: 25px; text-transform: uppercase; display: block;}
span.leadership-position a{color: #73a3cf;}


/*-- media starts here --*/
@media only screen and (min-width: 1024px){
  
  .container-md{max-width: 1125px;}
  .hero-banner-main{flex-direction: row-reverse;}
 /* .leadership-banner-main{gap: 185px; padding: 231px 60px 0 0; flex-direction: row-reverse;}
  .leadership-banner-text{ width: calc(100% - 960px); max-width: 405px; margin-right: auto; text-align: right;}
  .leadership-banner-image{width: 775px;}
  .leadership-banner-thumb{min-height: 450px;}*/
  .leadership-innovative-list{gap: 167px;}
  .leadership-innovative-image{flex: 0 0 420px;}
  .leadership-innovative-text{flex: 0 0 calc(100% - 587px); padding-top: 52px;}
  .innovative-desc{color: var(--heading); position: absolute; bottom: 0; width: 242px; left: -234px; text-align: right; padding-right: 40px;}
  .innovative-desc::after{content: ""; display: block; width: 15px; height: 15px; background-color: #0055b8; border-radius: 50%; right: 0; top: 50%; transform: translateY(-50%); position: absolute;}
  .leadership-page-row{gap: 50px;}
  .leadership-page-list{flex: 0 0 calc(25% - 50px);}
}
@media only screen and (max-width: 1400px) and (min-width: 1300px){
  .leadership-banner-main{gap: 60px;}
  .leadership-banner-text { width: calc(100% - 830px); }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
  .container-md{max-width: 100%; padding: 0 30px;}
  .background-bg{height: calc(100% - 30px);}
  .leadership-banner-main{gap: 30px;}
  .leadership-banner-image{width: 528px;}
  .leadership-banner-text { width: calc(100% - 558px); }
  .leadership-banner-text span{margin-bottom: 10px;}
  .leadership-page-thumb::after{clip-path: polygon(0 39%, 100% 79%, 100% 100%, 0 61%);}
  .leadership-page-thumb:hover::after{height: 115px;}
  .leadership-page-row{gap: 20px;}
  .leadership-page-list{flex: 0 0 calc(33.3333% - 14px);}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
  .container-lg{padding: 0;}
  .leadership-banner-main{display: block; padding: 178px 30px 0 30px;}
  .leadership-banner-text{padding-bottom: 70px;}
  .leadership-banner-image{margin-left: -30px;}
  .container-md{padding: 0 30px;}
  .leadership-innovative-main{padding-bottom: 50px;}
  .leadership-innovative-text{padding: 30px 0 64px 0;}
  .leadership-innovative-thumb img{clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);}
  .innovative-desc{text-align: right;}
  .leadership-page-thumb::after{clip-path: polygon(0 36%, 100% 79%, 100% 100%, 0 58%);}
  .leadership-page-thumb:hover::after{height: 115px;}
  .leadership-page-row{gap: 30px;}
  .leadership-page-list{flex: 0 0 calc(50% - 15px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
  .container-lg{padding: 0;}
  .leadership-banner-main{display: block; padding: 178px 20px 0 20px;}
  .leadership-banner-text{padding-bottom: 70px;}
  .leadership-banner-image{margin-left: -20px;}
  .container-md{padding: 0 20px;}
  .leadership-innovative-main{padding: 65px 0 52px;}
  .leadership-innovative-text{padding-bottom: 65px;}
  .leadership-innovative-text h2{font-size: 2rem; letter-spacing: -0.53px;}
  .leadership-innovative-thumb img{clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);}
  .innovative-desc{text-align: right;}
  .leadership-page-thumb::after{clip-path: polygon(0 33%, 100% 79%, 100% 100%, 0 55%);}
  .leadership-page-thumb:hover::after{height: 115px;}
  .leadership-page-main{padding-top: 70px;}
}