@import url("../css/default-page.css");
@import url("../css/_split-module.css");
@import url("../css/_post-banner.css");

.general-default-article-section {padding: 50px 0 100px}


.breadcrumb {clear: both; width: 100%; margin:2px 0 51px 0;}
.breadcrumb ul {margin: 0; font-size: 0;}
.breadcrumb ul li {display: inline-block; font-size: 0.875rem; font-weight: 600; color: rgba(26, 21, 100, 0.6); margin: 0;}
.breadcrumb ul li:after {left: inherit; top: inherit; content: ""; width: 5px; height: 5px; border-radius: 50%; background:rgba(26, 21, 100, 0.6); position: relative; margin: 0 21px; display: inline-block; vertical-align: middle;}
.breadcrumb ul li:last-child:after {display: none;}
.breadcrumb ul li:before {display: none;}
.breadcrumb ul li a {text-decoration: none; font-size: 0.875rem; color:var(--text-violetblue);}

.def-intro {padding-top: 0;}

/*-- media css starts here --*/


@media only screen and (max-width: 1023px) and (min-width: 200px) {
.fixed-social-icons {display: none;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
	.general-default-article-section {padding: 50px 0 57px;}
}