@import url("../css/_feature-panel-section.css");
@import url("../css/_subscribe-module.css");
@import url("../css/_programs-grid.css");
@import url("../css/_no-banner.css");

.programs-container {clear: both; background: var(--light-grey); width: 100%; padding:86px 0 50px;}
.heading {padding: 0 0 31px;}
.heading-lt {width: 30%;}
.heading-lt h3 {color: var(--black);}
.heading-rt {width:calc(100% - 30%);}
.heading-rt .form-field {}


.btn {text-align: center;}



/* Responsive */


@media only screen and (max-width: 767px) and (min-width: 200px){
	
	.heading {padding: 0 0 28px;}
	.heading-lt {width: 100%; margin: 0 0 16px 0;}
	.heading-rt {width: 100%;}
	.heading-rt .search-form {max-width: 100%;}
	
	.programs-container {padding: 59px 0 60px;}
	.btn {margin: 8px 0 0 0;}
}