@import url("../css/_features-module.css");
@import url("../css/_hero-banner.css");
@import url("../css/_intro-module.css");
@import url("../css/_repeater-section.css");
@import url("../css/_annual-report-module.css");
@import url("../css/_intro-here-module.css");
@import url("../css/_common-cta-section.css");
@import url("../css/_programs-default-slider.css");
@import url("../css/_programs-grid.css");
@import url("../css/_related-program-slider.css");

.hero-banner-section{margin: 0 0 100px 0;}
.hero-banner-section.greenbg{background-color: var(--green);}
.hero-banner-section .hero-banner-main .hero-banner-txt{width: 44%;}
.hero-banner-section .hero-banner-main .hero-banner-image .banner-img{ right: -52px; bottom: -100px;}
.hero-banner-section .program-default-shape-1 {width: 336px; height: 185px; top: -48px; right:8px;}
.hero-banner-section .program-default-shape-2 {width: 480px; height: 474px; bottom: -50px; left: -80px;}
.hero-banner-section .program-default-shape-3 {width: 284px; height: 245px; bottom: 18px; right: -103px;}
.program-default-shape.shapes.pos-absolute { margin-left: -277px; margin-top: -28px; }
.intro-here-module{padding: 102px 0 5px;}
.annual-report-main{background-color: var(--text-violetblue); }
.repeater-section{padding: 15px 0 75px;}

@media only screen and (max-width: 1160px) and (min-width: 1024px) {
    .hero-banner-section .hero-banner-main .hero-banner-image .banner-img{ bottom: -37px;}
}

@media only screen and (max-width: 1299px) and (min-width: 1024px) {
    .hero-banner-section{margin: 0 0 37px 0;}
    .hero-banner-section .hero-banner-main .hero-banner-image .banner-img{ right: 0;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .hero-banner-section{margin: 0 0 39px  0;}
    .program-default-shape.shapes.pos-absolute { margin-left: -21px; margin-top: -60px; width: 162px; height: 84px; top: 74px;}
    .hero-banner-section .hero-banner-main .hero-banner-txt .optional-text { margin: 50px 0 10px 0; }
    .hero-banner-section .hero-banner-main .hero-banner-txt{width: 100%;}
    .hero-banner-section .hero-banner-main .hero-banner-image .banner-img {bottom: -39px;}
    .hero-banner-section .program-default-shape-1 {width: 187px; height: 103px; top: -27px; right: 8px;}
	.hero-banner-section .program-default-shape-2 {width: 270px; height: 264px; bottom: -27px; left: -46px;}
	.hero-banner-section .program-default-shape-3 {width: 171px; height: 132px; bottom: 12px; right: -57px;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .repeater-main { padding: 0 }
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    
    .intro-module{padding: 52px 0 27px;}
    .features-module-grid .features-txt p { padding-right: 0; }
    .repeater-section{padding: 20px 0 0 ;}
    .repeater-main{padding: 0;}
    .repeater-list{flex-direction: inherit;}
    .repeater-list.reverse{flex-direction: column-reverse;}
    .repeater-image{padding-bottom: 57px;}
    .repeater-content { padding-bottom: 28px;}
}